[2019-02-11 03:31] gabrielcalderon opened #1 "Docker support?"
Is there plans to do Docker builds of Leon? As in provide an official image for it.

[2019-02-11 11:03] louistiti commented on #1
Hello @gabrielcalderon,

There is actually a [Docker image](https://github.com/leon-ai/leon-ci-image) dedicated to CI purposes. It allows to get the prerequisites installed.

But there is indeed not yet a complete Docker image. I added it to the [roadmap](https://trello.com/c/VOhSdIC4/215-%E2%9C%A8-docker-image).

Is that something you would like to work on?

[2019-02-11 13:55] louistiti opened #2 "Improve NLU for more detailed queries"
Be able to subtract a type of entity from a query. Such as date, number, location, etc.

If it uses a tiers but Node.js, it should operate from the core and send the result object to modules via the child process parameters.
Otherwise, it should fully be implemented in the core itself.

I noted some following leads in [this Trello card](https://trello.com/c/xrofGezn/150-%F0%9F%94%A7-improve-nlu-fo

[2019-02-11 13:55] louistiti commented on #2
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 Improve NLU for more detailed queries](https://trello.com/c/xrofGezn/150-%F0%9F%94%A7-improve-nlu-for-more-detailed-queries)

[2019-02-11 14:35] louistiti opened #3 "Trends Package"
One module for each platform.

# Modules

## Product Hunt module
[code]

## GitHub module
[code]

Might be related to a [another package](https://trello.com/c/t2AGpoqk/138-%E2%9C%A8-github-package).

[2019-02-11 14:35] louistiti commented on #3
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Trends Package](https://trello.com/c/UPGaO0gb/177-%E2%9C%A8-trends-package)

[2019-02-11 17:28] Antoinebr opened #4 "/bin/sh: pipenv: command not found : Can't install pipenv on mac"
### Specs

- Leon version: latest ( 11-02-2019 )
- OS (or browser) version: MAC OS 10.13.6
- Node.js version: 10
- Complete "npm run check" output:

[code]

### Expected Behavior

Get Leon Installed

### Actual Behavior

The Installation fails.

### How Do We Reproduce?

Maybe specific to my machine and how Python is setup

### Extra (like a sample repo to reproduce the issue, etc.)
[code]
But :
p

[2019-02-11 17:39] Antoinebr commented on #4
I followed this solution

https://stackoverflow.com/questions/46391721/pipenv-command-not-found#answer-49842670

now pipenv doesn't send "command not found" even without the alias but I added this to my .bash_profile

```export PATH="$PATH:/usr/local/Cellar/python/3.7.0/bin"```

[2019-02-11 18:11] mortim59 opened #5 "Problem with modules"
Hi ! I have an unexpected behavior, in fact when I type hello or any request that the assistant should understand it returns this message
[code]
I don't know if it's due to a bad installation of the packages.

Thanks.

[2019-02-11 19:38] OvermindDL1 opened #6 "Python 3.7 failing in `npm run check`"
### Specs

- Leon version: Master 360d1020c4bd8bf1df3764645c635c64e0364702
- OS (or browser) version: Linux 4.4.0-140-generic
- Node.js version:  `node --version -> v11.1.0`
- Complete "npm run check" output:
[code]
And yet running that command manually:
[code]

### Expected Behavior

Python 3.7 should work.  Downgrading the system version is... not safe.

### Actual Behavior

`npm run check` is f

[2019-02-11 19:50] OvermindDL1 opened #7 "tinydb failure"
### Specs

- Leon version: * Master [360d102](https://github.com/leon-ai/leon/commit/360d1020c4bd8bf1df3764645c635c64e0364702)
- OS (or browser) version: Linux 4.4.0-140-generic
- Node.js version: `node --version -> v11.1.0`
- Complete "npm run check" output:
[code]

### Expected Behavior

Should not crash.

### Actual Behavior

See above in the check.  Relevant section:
[code]
Running the listed

[2019-02-11 19:57] OvermindDL1 commented on #7
Apparently the project doesn't like being first ran with python 3.7 then downgraded to 3.6, can't replicate it from a pure 3.6 setup.

[2019-02-11 19:57] #7 closed

[2019-02-12 00:21] louistiti commented on #4
Hello @Antoinebr,

Thanks for your issue. It seems to be a pipenv issue. I suppose you already followed this small section?

Moreover, please note that Leon runs with Python `3.6.x` today, and in your path you mentioned the version `3.7.0`.

[2019-02-12 00:24] louistiti commented on #5
Hello @mortim59,

Thanks for your issue. Could you please use [this issue template](https://raw.githubusercontent.com/leon-ai/leon/develop/.github/ISSUE_TEMPLATE/BUG.md) to have a better understanding of the problem you are facing to?

[2019-02-12 00:31] louistiti commented on #6
![](https://github.trello.services/images/mini-trello-icon.png) [⬆️ Upgrade to the latest Python version](https://trello.com/c/ezmGfIkL/216-%E2%AC%86%EF%B8%8F-upgrade-to-the-latest-python-version)

[2019-02-12 00:31] louistiti commented on #6
Hello @OvermindDL1,

Thanks for your issue. Today Leon must have Python 3.6 to work. For a future Leon's version, Python will anyway be upgraded to the latest Python version on that moment.

I added it to this [roadmap card](https://trello.com/c/ezmGfIkL/216-%E2%AC%86%EF%B8%8F-upgrade-to-the-latest-python-version).

[2019-02-12 00:33] louistiti commented on #7
Hello @OvermindDL1,

Got it, thanks for your explanations BTW.

[2019-02-12 01:49] gabrielcalderon commented on #1
@louistiti Sure, I can work on it.

[2019-02-12 04:22] louistiti commented on #1
Great, then feel free to create a PR and I will move the [Trello card](https://trello.com/c/VOhSdIC4/215-%E2%9C%A8-docker-image) to "In Progress" once you started.

[2019-02-12 04:24] louistiti commented on #1
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Docker image](https://trello.com/c/VOhSdIC4/215-%E2%9C%A8-docker-image)

[2019-02-12 07:25] sh1ftsh commented on #5
---
name: 🐞 Bug Report
about: Report an unexpected problem or unintended behavior.
labels: bug
---

### Specs

- Leon version: 1.0.0-beta.0
- OS (or browser) version: Linux Manjaro (Firefox 65)
- Node.js version: 10.10.0
- Complete "npm run check" output:

⠋
---

.: CHECKING :.

➡ /bin/sh -c node --version
✔ v10.10.0

➡ /bin/sh -c npm --version
✔ 6.5.0

➡ /bin/sh -c pipenv --version
✔ pipenv, vers

[2019-02-12 11:20] rlech opened #8 "german language support"
Awesome project!

Are there any plans to add german language support?

[2019-02-12 12:26] Antoinebr commented on #4
I started to write a Dockerfile to bypass this issue

[code]

But ```npm run check``` throws new errors :

[code]

[2019-02-12 14:12] louistiti commented on #4
It seems you don't have a [classifier](https://docs.getleon.ai/glossary.html#classifier). To solve this issue you need to run the training command: `npm run train expressions`.

I'll close that issue as you got Pipenv installed.

[2019-02-12 14:12] #4 closed

[2019-02-12 14:52] louistiti commented on #8
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Languages support](https://trello.com/c/PqiIElyx/217-%E2%9C%A8-languages-support)

[2019-02-12 14:59] louistiti commented on #8
Hello @rlech,

Thanks for your issue and your support. Yes there is actually plan for any languages which has:

- A "Porter" stemmer [here](https://github.com/NaturalNode/natural/tree/master/lib/natural/stemmers). It seems German has [one](https://github.com/NaturalNode/natural/blob/master/lib/natural/stemmers/porter_stemmer_nl.js).
- At least one speech-to-text that supports this language with a

[2019-02-12 15:05] OvermindDL1 commented on #6
All good, it ended up running well in Docker.  :-)

It might be good to add a Dockerfile to the project with everything auto-acquired and so forth so someone can just `git clone ... && cd ... && docker build ...` and get a fully operational setup ready to go.  :-)

[2019-02-12 15:40] louistiti commented on #5
Hello @sh1ftsh,

Thanks for your details. I was not able to reproduce the issue despite the fact I setup the same environment as you can see [here](https://i.gyazo.com/5b2fd100ff244316169c529bbaa837e6.png).

Leon triggers this scope when there is an error with the child process execution. You can find it in `server/src/core/brain.js` at the line 130.

Do you have anything in the `logs/errors.log`

[2019-02-12 16:09] mortim59 commented on #5
@louistiti Thank you

[2019-02-12 16:18] mortim59 commented on #5
---
name: 🐞 Bug Report
about: Problem with modules
labels: bug
---
### Specs

- Leon version:
- OS (or browser) version: linux kernel version (4.15.0-45-generic)
- Node.js version: v10.8.0
- Complete "npm run check" output:
[code]

### Expected Behavior
When I type hello or one of the existing commands by the wizard, it returns the corresponding message

### Actual Behavior
I have error messages s

[2019-02-13 05:35] louistiti commented on #8
Oh my! I thought it was kind of similar.

Regarding the TTS and STT parts, I was talking about [providers](https://docs.getleon.ai/configuration.html#voice) such as "AWS, GCP, IBM Watson" or even offline. To support a language Leon must has at least one male voice of that language (TTS) and be able to understand human voice in that language (STT).

Awesome for the translation part 👍

[2019-02-13 10:06] sh1ftsh commented on #5
@louistiti  yeah I do have some lines on logs/errors.log
the lines are like this
[code]

[2019-02-13 13:25] louistiti commented on #5
@mortim59 thanks for your details. It seems Pipenv is not installed. Please [install it](https://docs.getleon.ai/how-to/#how-to-install-pipenv) first.

@sh1ftsh okay this warning is not related to the issue you mentioned previously. Unfortunately, I'm not able to reproduce this error 😞

[2019-02-15 00:07] louistiti commented on #6
As you already noticed there is a PR for Docker file #9.

Alright, I will close this issue then.

[2019-02-15 00:07] louistiti commented on #8
I will close this issue as the answer has been provided.

[2019-02-15 00:07] #8 closed

[2019-02-15 14:17] leondealmeida opened #10 "Why "Leon"?"
Such an amazing name, what's the story behind the choice?

[2019-02-15 14:56] louistiti commented on #10
Hello @leondealmeida,

Thanks for your issue and for that very fair question. I'm gonna write-up about my story about Leon soonly, stay tuned 😉

[2019-02-15 16:22] ClayMav opened #11 "Checker fails with capital letters in url"
### Specs

- Leon version:
- OS (or browser) version: MacOS 10.14.3
- Node.js version: 11.6.0
- Complete "npm run check" output:

: CHECKING :.

➡ /bin/sh -c node --version
✔ v11.6.0

➡ /bin/sh -c npm --version
✔ 6.5.0

➡ /bin/sh -c pipenv --version
✔ pipenv, version 2018.11.26

➡ /bin/sh -c pipenv --where
✔ /Users/maverick/git-local/Personal/leon/bridges/python

➡ /bin/sh -c pipenv run python --v

[2019-02-15 16:22] ClayMav commented on #11
`npm run check` reported almost complete failure, but everything is working with leon. Not sure why that is.

[2019-02-15 18:17] leye0 commented on #10
Thanks.

- Leon

[2019-02-15 19:39] mortim59 commented on #5
@louistiti ok thanks !

[2019-02-15 21:38] Immortalin commented on #2
Rasa integration?

[2019-02-15 23:47] JonathanChiang opened #12 "Where is the .env file usually stored?"
### Question
I would like to set some env variables where is this file typically stored? after build is successful?

[2019-02-16 01:26] darvin commented on #1
done https://github.com/leon-ai/leon/pull/13

[2019-02-16 13:47] abhisheksoni27 opened #16 "66 Vulnerabilities found in npm dependencies"
### Specs

- Leon version: 1.0.0-beta.0
- OS (or browser) version: Chrome 71 | MacOS
- Node.js version:10.15.0
- Complete "npm run check" output: N/A

### Actual Behavior

After running `npm install`, I got the following output:

[code]

If you'd like, I can paste the output of the command `npm audit`. Do you have any plans to update the dependencies using something like greenkeeper?

[2019-02-16 14:40] louistiti commented on #16
![](https://github.trello.services/images/mini-trello-icon.png) [⬆️ [1.0.0-beta.1] Update jest-extended once they updated brace](https://trello.com/c/e7x8XqqY/220-%E2%AC%86%EF%B8%8F-100-beta1-update-jest-extended-once-they-updated-brace)

[2019-02-16 14:44] louistiti commented on #16
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Implement a tool such as Greenkeeper](https://trello.com/c/SdWlOyw3/221-%E2%9C%A8-implement-a-tool-such-as-greenkeeper)

[2019-02-16 14:45] louistiti commented on #16
Hello @abhisheksoni27,

Thanks for reporting. Since yesterday, it seems that is caused by [braces](https://www.npmjs.com/advisories/786) which is used by the jest-extended package. There is an issue [over there](https://github.com/jest-community/jest-extended/pull/198).

I will consider using Greenkeeper. I attributed a [roadmap card](https://trello.com/c/SdWlOyw3/221-%E2%9C%A8-implement-a-tool-su

[2019-02-16 14:58] louistiti commented on #12
Hello @JonathanChiang,

Thanks for your issue. After the `npm install` command (which runs `npm run postinstall`), your `.env` file is generated at the root of the project from the `.env.sample` one.

[2019-02-16 15:00] louistiti commented on #2
Hello @Immortalin,

I do not plan to have a Rasa integration yet. But it does not mean I will not in the future.

[2019-02-16 17:57] Immortalin commented on #2
If will make slot filling etc. easier as you can just delegate everything

[2019-02-16 21:20] Metal-Mighty opened #17 "Stuck on Leon's web loading screen"
### Specs

- Leon version: leon@1.0.0-beta.0
- OS (or browser) version: Debian 9.8
- Node.js version: v10.15.1
- Complete "npm run check" output:
[code]

- (optional) Leon package version:

### Expected Behavior
Display Leon's web interaction interface as shown on the demo

### Actual Behavior
Stuck on the interface's loading screen (gray and loading animation). No error in the logs

### How Do We

[2019-02-16 23:20] ctombumila37 commented on #17
This might be due to it expecting the API to be at ``localhost``.

Did you adjust the environment variables ``LEON_SERVER_HOST`` and ``LEON_WEBAPP_HOST`` according to the [docs](https://docs.getleon.ai/configuration.html#environment-variables)?

What does the js console say?

[2019-02-16 23:47] Metal-Mighty commented on #17
I did adjust the environment variables in the .env file but somehow it still considers it as running on localhost.
![image](https://user-images.githubusercontent.com/5247527/52906497-43a0e800-324d-11e9-8d59-7f38bc2d046d.png)

I just tried with a SSH tunnel and it does work when using localhost.

[2019-02-17 01:14] louistiti commented on #12
I will close this issue as the answer has been provided. Feel free to open it if you still have questions regarding that specific topic.

[2019-02-17 01:14] #12 closed

[2019-02-17 02:20] ctombumila37 commented on #17
The only spot where ``localhost`` is hardcoded is here (web app):

https://github.com/leon-ai/leon/blob/360d1020c4bd8bf1df3764645c635c64e0364702/app/js/main.es6.js#L11-L17

Try to change that and rebuild with ``npm run build:app``.

If that's the issue, changing this file to use ``LEON_SERVER_HOST`` might be appropriate.

[2019-02-17 03:11] vdemir opened #18 "Error: Command failed: /bin/sh -c pipenv --version"
npm run check

.: CHECKING :.

✖ Error: Command failed: /bin/sh -c pipenv --version
/bin/sh: warning: setlocale: LC_ALL: cannot change locale (C.UTF-8)
/bin/sh: warning: setlocale: LC_ALL: cannot change locale (C.UTF-8)
Traceback (most recent call last):
  File "/usr/bin/pipenv", line 11, in <module>
    load_entry_point('pipenv==2018.11.15.dev0', 'console_scripts', 'pipenv')()
  File "/usr/lib64/

[2019-02-17 03:51] gr01d opened #19 "Offline Hotword npm command typo and how to manually install deepspeech"
### Documentation Is:
- [x] Missing
- [ ] Needed
- [X] Confusing
- [ ] Not Sure?

### Explanation
https://docs.getleon.ai/offline.html#hotword
typo in: npm **install** setup:offline-hotword
must be: npm **run** setup:offline-hotword
### Proposal
Also, how to manually install deepspeech. I cannot let npm download 1.8GB file and just fail because of slow internet connection, I need to download the 1

[2019-02-17 06:40] Metal-Mighty commented on #17
That was the issue indeed! Works fine after changing it and rebuilding.
I'm a complete noob in JS/Node though so I wouldn't know how to make a clean correction to that.

[2019-02-17 09:36] kesslerdev commented on #11
yes the regex from utils doesn't allow capital letter on domain check [here](https://pythex.org/?regex=%5Ba-z0-9%5C-%5D%7B%2C63%7D%5C.%5Ba-z0-9%5C-%5C.%5D%7B2%2C191%7D&test_string=Twitter.com%20est%20down%20%3F%0A&ignorecase=0&multiline=0&dotall=0&verbose=0)

[2019-02-17 13:05] abhisheksoni27 commented on #16
@louistiti Thanks! I'm really excited about what you have made and would love to contribute. Keep hustling!

[2019-02-17 13:39] louistiti commented on #10
Hey @leondealmeida @leye0,

I just published the [write-up](https://blog.getleon.ai/the-story-behind-leon/), happy reading 😉

[2019-02-17 14:36] louistiti commented on #17
Hello @Metal-Mighty @ctombumila37,,

Thanks for your issue and for helping.

The `config.server_host` value is hard coded in this file because it is a file belonging to the web app. You cannot explicitly give a environment variable such as `LEON_SERVER_HOST` here. It could work if we transform that variable in a build phase tho.

[2019-02-17 14:48] louistiti commented on #16
Thanks for your support!

I'm looking forward for your contribution then 👍

[2019-02-17 14:49] nto4 opened #21 "Build fail"
npm-debug.log and  terminal std err output why  cant build this and how can ı fix ?

https://pastebin.com/JwAkidhG

https://pastebin.com/raw/Uz4HcV63

[2019-02-17 14:52] louistiti commented on #21
Hello @nto4,

Thanks for your issue. It seems you are using npm `3.5.2`, please try with a version up or equal to 5 as mentioned in the prerequisites.

[2019-02-17 15:08] nto4 commented on #21
how can ı activate speaking mode on local host ?

[2019-02-18 00:30] louistiti commented on #10
I close this issue as an answer has been provided.

[2019-02-18 00:30] #10 closed

[2019-02-18 00:31] louistiti commented on #17
I close this issue as it has been fixed.

[2019-02-18 00:31] #17 closed

[2019-02-18 00:33] louistiti commented on #21
You are welcome.

It is explained [here](https://docs.getleon.ai/configuration.html#voice).

I'll close it as the original issue has been replied.

[2019-02-18 00:33] #21 closed

[2019-02-18 00:49] louistiti commented on #19
Hello @gr01d,

Awesome, thanks for spotting it, this is now fixed https://github.com/leon-ai/docs.getleon.ai/commit/4a5656440d59b054cd7634b8c51c8a32d28c42ac.

Now to reply to your questions:

You can take a look on [`scripts/setup-offline/setup-stt.js`](https://github.com/leon-ai/leon/blob/develop/scripts/setup-offline/setup-stt.js). It should be clear enough to understand where and how DeepSpeech

[2019-02-18 00:59] louistiti commented on #18
Hello @vdemir,

Thanks for opening that issue. Try by changing the `LC_ALL` and `LANG` environment variables located in your `.env` file to one of the listed value you quoted such as `en_US.UTF-8`.

If it still does not fix, please try to simply:
[code]

[2019-02-18 07:21] Metal-Mighty commented on #17
The "official" solution is to change the config in the webapp then?

[2019-02-18 10:07] lissyx opened #22 "DeepSpeech model should be v0.4.1"
Please switch to DeepSpeech v0.4.1 models, the released v0.4.0 was a bogus one: https://github.com/mozilla/DeepSpeech/releases/tag/v0.4.1

[2019-02-18 10:28] Xavier-Brinon opened #23 "One core to rule them all"
### Documentation Is:
- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [X] Not Sure?

### Explanation

In the readme we can read the below:
2. With this generic structure, everyone can create his own modules and share them with others. Therefore there is only one core (to govern all of them).

### Proposal

The lord of the cores would require this to be written as proposed:
2. With this generic struct

[2019-02-18 11:22] louistiti commented on #23
Hello @Xavier-Brinon,

Thanks, I love it! I changed it in the readme and the documentation:

- https://github.com/leon-ai/leon/commit/c74dda4cb9acc78de143ae01fdc6b4ef0a5ec3ef
- https://github.com/leon-ai/docs.getleon.ai/commit/11b0aa5e4aa0c932361344357fe72391c0c782fb

[2019-02-18 11:22] #23 closed

[2019-02-18 11:25] louistiti commented on #22
Hello @lissyx,

Thanks for your issue. However, I do not plan to upgrade DeepSpeech now. I prefer to wait for a while until they release a higher version.

[2019-02-18 11:26] louistiti commented on #19
I'll close this issue. Feel free to open it again if you think it's necessary.

[2019-02-18 11:26] #19 closed

[2019-02-18 11:37] lissyx commented on #22
@louistiti Please, this is not "for fun", 0.4.0 was a **broken** model.

[2019-02-18 11:39] lissyx commented on #22
@louistiti As you can see on https://github.com/mozilla/DeepSpeech/releases/tag/v0.4.0:
[code]

[2019-02-18 11:42] Devilmoon commented on #11
Might want to check Django's URL validator, it could be lifted from their code without having to add the whole package as a dependecy.
Available [here](https://github.com/django/django/blob/master/django/core/validators.py)

[2019-02-18 11:45] louistiti commented on #22
![](https://github.trello.services/images/mini-trello-icon.png) [⬆️ [1.0.0-beta.1] DeepSpeech >= 0.4.1](https://trello.com/c/VKpm1c01/222-%E2%AC%86%EF%B8%8F-100-beta1-deepspeech-041)

[2019-02-18 11:45] louistiti commented on #22
Oh, nice spot! Thanks for saying.

It'll be fixed for the next release.

[2019-02-18 14:23] ftyers opened #24 "Support other languages"
It seems that Leon currently only speaks English (?)

It would be great if the software could support other languages. And do it in a way that is more extensible/linguistically informed than Mycroft.

[2019-02-18 14:28] ftyers commented on #2
In any case if you do decide to use Rasa, please make it modular, it seems that Rasa does not have any serious support for non-trivial morphology.

[2019-02-18 14:47] louistiti commented on #24
Hello @ftyers,

Thanks for opening this issue.

Leon supports English but also French. I plan to support other languages in the future, but that's not the priority for now. I let you read [this other issue](https://github.com/leon-ai/leon/issues/8) for your reference.

[2019-02-18 15:05] ftyers commented on #24
That's cool, but please when you're designing the system take into account languages with more variation than just English or French, or it will be very hard to change later. e.g. the way Mycroft works with template filling is not extensible to the majority of the languages in the world. So either they just don't support those languages or they have to rewrite the entire software.

[2019-02-18 15:30] sh1ftsh opened #25 "improve the Isitdown module"
### Expected Behavior
Be able to query this the status of some website without the fully qualified domain name.

### Actual Behavior
Currently a query like this fails
`is gitub up ?`
I should ask `is github.com up ?`

### Proposal
May be list some of the most popular websites and treat them with special query as I made just before

[2019-02-18 17:04] Immortalin commented on #2
Snips-NLU perhaps?

[2019-02-18 18:29] ftyers commented on #2
@Immortalin looks like snips [doesn't support languages](https://snips-nlu.readthedocs.io/en/latest/languages.html) with substantial morphology and morphophonology either.

[2019-02-19 00:45] congnd commented on #18
@louistiti
It works for me. Thanks

[2019-02-19 07:38] goodwinfame commented on #7
same problem,
the original python3 on my os was 3.5.
I upgraded to 3.6 and then install leon,
when I run check, throws the same error.

[2019-02-19 11:31] lissyx commented on #22
Looks like you should also change those values: https://github.com/leon-ai/leon/blob/develop/server/src/stt/deepspeech/parser.js#L37-L45 check here https://github.com/mozilla/DeepSpeech/blob/master/native_client/javascript/client.js#L17-L21

[2019-02-19 16:42] Zauberfisch opened #28 "Hardware / Scaling requirements"
### Documentation Is:
- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Explanation
Right now it seems unclear to me what amount of hardware will be required to run an instance of leon without actually running it.
The documentation should provide some suggestions of scaling for different use cases.

### Proposal
- add minimum hardware requirements
- add recommendations for hardware s

[2019-02-19 22:49] ctombumila37 opened #30 "Time module"
### Feature Use Case

[code]

### Feature Proposal

Implement a new module / package.

[2019-02-20 03:14] louistiti commented on #24
Thanks for your suggestions.

I will close this issue as the answer to the original question as been provided.

[2019-02-20 03:45] louistiti commented on #24
Thanks for your suggestion.

I will close that issue as the answer has been provided to the original topic.

[2019-02-20 03:45] #24 closed

[2019-02-20 03:47] louistiti commented on #30
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Time Package - What Time Module](https://trello.com/c/qbGOAOz5/225-%E2%9C%A8-time-package-what-time-module)

[2019-02-20 03:50] louistiti commented on #30
Hello @ctombumila37,

Thanks for this feature request.

This is definitely a module that can be done with the current version (`1.0.0-beta.0`).

Is that something you would like to work on?

[2019-02-20 03:51] louistiti commented on #28
![](https://github.trello.services/images/mini-trello-icon.png) [📝 Test and provide hardware requirements in the docs](https://trello.com/c/G97diEw2/226-%F0%9F%93%9D-test-and-provide-hardware-requirements-in-the-docs)

[2019-02-20 03:57] louistiti commented on #28
Hello @Zauberfisch,

Thanks for opening that issue. This is indeed something that we could provide later.

Till now, I did not test yet with many different hardware but I suppose it should work on a hardware such as Raspberry Pi (but not sure for the offline speech-to-text).

Is that something you would like to help with?

[2019-02-20 04:02] louistiti commented on #25
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 Improve Is It Down module with a given list of popular websites](https://trello.com/c/e1LU9xFe/227-%F0%9F%94%A7-improve-is-it-down-module-with-a-given-list-of-popular-websites)

[2019-02-20 04:02] louistiti commented on #25
Hello @sh1ftsh,

Thanks for this suggestion.

This is something we could indeed do.

Is that something you would like to work on?

[2019-02-20 04:04] louistiti commented on #18
Good, I will close this issue.

@vdemir feel free to reopen this issue if it's still not fixed.

[2019-02-20 04:04] #18 closed

[2019-02-20 06:35] 1c7 opened #31 "Use Docker to simplify install?"
### Intro
having issue `npm install` on macOS
![image](https://user-images.githubusercontent.com/1804755/53071207-7c2a1580-351c-11e9-83e8-6b15c436e16a.png)
[code]
## Question
Would you guys build a Docker Image to simplify local dev & production running process?

just write a `Dockerfile` would be enough(I think). or both `Dockerfile` & `docker-compose.yml`
it's not difficult at all.

then it can

[2019-02-20 06:51] mnikn opened #32 "Desktop Version"
An interesting app, it would be nice to support desktop version via electron.

[2019-02-20 07:32] louistiti commented on #31
Hello @1c7,

Thanks for opening this issue.

Yes, there is already a plan for that:

- https://github.com/leon-ai/leon-ci-image/pull/1
- https://github.com/leon-ai/leon/pull/9
- https://github.com/leon-ai/leon/pull/13
- https://github.com/leon-ai/leon/issues/1

[2019-02-20 07:35] louistiti commented on #32
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Desktop app](https://trello.com/c/oupSzH9u/228-%E2%9C%A8-desktop-app)

[2019-02-20 08:09] 1c7 commented on #31
@louistiti oh, Ha, I didn't saw these.
let me close this issue now

[2019-02-20 08:09] #31 closed

[2019-02-20 09:13] #11 closed

[2019-02-20 09:18] louistiti commented on #11
Hello @ClayMav,

It seems you do not have Python `3.6.x` install.

I merged the https://github.com/leon-ai/leon/pull/20 PR.

[2019-02-20 09:21] louistiti commented on #11
![](https://github.trello.services/images/mini-trello-icon.png) [🐞 [1.0.0-beta.1] Checker Package - Allow capital letters in the Is It Down module URLs](https://trello.com/c/xGzkOypW/229-%F0%9F%90%9E-100-beta1-checker-package-allow-capital-letters-in-the-is-it-down-module-urls)

[2019-02-20 10:42] hk1997 commented on #30
Can I work on this feature?

[2019-02-20 10:54] louistiti commented on #30
Hello @hk1997,

Yes with pleasure. Let's wait a moment to see if @ctombumila37 did not start anything first.

[2019-02-20 13:11] louistiti commented on #22
Alright, I updated DeepSpeech from the `0.4.0` version to the `0.4.1`.

https://github.com/leon-ai/leon/commit/194abd64d7cd4e3fb0f279eef8423ff7a300a41b

[2019-02-20 13:11] #22 closed

[2019-02-20 16:11] adrijere commented on #25
I'm interested to do this one as first issue if you both agree.

[2019-02-20 23:09] louistiti commented on #25
Hello @adrijere,

Yeah with pleasure, go for it :+1:

[2019-02-21 14:13] squirrelboot opened #34 "Custom Commands"
Hello,

I have seen many of these kinds of AI/Assistants.

What I am always looking for though, is a way to get them to perform specific actions on specific commands. I never see documentation on them. This is the kind of thing I mean:

"Leon, turn the lights on in the kitchen."   == Leon will execute a pre-defined script I have to do this task.
"Leon, wake up MOHAWK." == Leon can execute a pre-de

[2019-02-21 23:45] Shrubhog commented on #34
This sounds like an excellent idea. Virtual Assistants are lacking in this feature and on the chance I can figure out how Leon works, I'll try adding it.

[2019-02-22 00:00] louistiti commented on #34
Hello @squirrelboot,

Thanks for your suggestion. This is indeed something that I would like to do with Leon later on. And Actually, for the:

[code]

This is something that can be done easily today already. You can simply create a new Leon's module and set the paths of the tools you want to open in the [configuration file](https://docs.getleon.ai/packages-modules.html#utils-functions) of a Leon p

[2019-02-22 00:04] louistiti commented on #34
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 [1.0.0-beta.1] Improve NLU for more detailed queries](https://trello.com/c/xrofGezn/150-%F0%9F%94%A7-100-beta1-improve-nlu-for-more-detailed-queries)

[2019-02-22 00:09] nto4 commented on #34
How can ı do this ? or is it possible ı dont know but its very good idea
and basic logic is like this
 Actionkeyword(Run,Open,Wakeup
etc)+Keywords(pycharm,terminal,googlecloud,asw)+followingProject(Project1,MailServer,create
game server )+config(specific config or config script etc)
At first  starting this module just define keyword and script match and
after run command (to be sure that desired k

[2019-02-22 01:17] ghostslayer989 opened #35 "Can't install on linux"
### Specs

- Leon version: Commit d0ca87d
- OS (or browser) version: Linux Mint 19.1 Cinnamon.
- Node.js version: 8.10.9
- Complete "npm run check" output: https://pastebin.com/UyZjGtnu
- (optional) Leon package version:

### Expected Behavior
Leon is buildable and runs.

### Actual Behavior
Leon is unbuildable and unable to run.

### How Do We Reproduce?
Use steps on ReadME with fresh packages fr

[2019-02-22 01:28] Shrubhog commented on #35
It seems you have to update node and npm. Node can be updated with nvm or npm, and npm can be used to update itself.

[2019-02-22 02:10] ghostslayer989 commented on #35
I just updated Node and NPM. Still the same.

[2019-02-22 02:15] Shrubhog commented on #35
What other errors are produced during build?

[2019-02-22 02:34] ghostslayer989 commented on #35
All the text in PasteBin is all I got.

[2019-02-22 04:44] louistiti commented on #35
Hello @ghostslayer989,

Thanks for opening this issue. However, according to your [last pastebin](https://pastebin.com/4Qs7UhQN), you are using Node.js `8.10.0` and npm `3.5.2`. Please take a look at the [prerequisites](https://docs.getleon.ai/#prerequisites).

[2019-02-22 04:47] menporulporiayalan opened #36 "Unable to install it in ubuntu 18.10"
**Specs**

- Leon version: commit    d0ca87d
- pipenv version - 2018.11.26
- npm version - 5.8.0
- python version - 3.6.7
- OS  - Ubuntu 18.10

**Expected Behaviour**
Leon Should build successfully

**Actual Behaviour**
Throwed an error While installing the python package

**Error Message**
✖ Failed to install the Python packages: Error: Command failed: /bin/sh -c pipenv install

Any help would be

[2019-02-22 04:48] louistiti commented on #36
Hello @menporulporiayalan,

Thanks for opening this issue. Could you please use [this issue template](https://raw.githubusercontent.com/leon-ai/leon/develop/.github/ISSUE_TEMPLATE/BUG.md) to have a better understanding of the problem you are facing to?

[2019-02-22 05:04] menporulporiayalan commented on #36
@louistiti  thanks, I have updated the python again and generated but still the same.

[2019-02-22 10:08] nto4 commented on #36
Npm verision is 3x update it 8x

22 Şub 2019 Cum 08:04 tarihinde menporulporiayalan <notifications@github.com>
şunu yazdı:

[2019-02-22 10:27] borisrorsvort opened #37 "Add a tutorial to install on a Raspberry Pi"
### Documentation Is:
- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Explanation

I guess the ideal setup would be to install it on a raspberry pi or similar board, make it listen in the current room, and plug it to your favorite speakers.

### Proposal

It might be nice to add some tutorial about small boards install.

[2019-02-22 11:17] louistiti commented on #37
Hello @borisrorsvort,

Thanks for suggesting, and yes, I plan to create such contents later on.

However, if you want to get your hands dirty and do it, then you are more than welcome 😉

[2019-02-22 11:19] louistiti commented on #36
@menporulporiayalan, please paste the full content of your `npm run check`.

[2019-02-22 13:35] menporulporiayalan commented on #36
@louistiti  I got this message.

[code]

[2019-02-22 16:25] Shrubhog commented on #7
I am experiencing the same error, but the fix is not working. I have tried every method of installing tinydb, and my pipenv is at 3.6 before I even run `npm install`

[2019-02-22 18:15] sh1ftsh commented on #25
Hello, thanks the comment, for sure I want to work on this one too

[2019-02-22 23:42] louistiti commented on #25
Okay cool! Please reference your PR to this issue once it's done 👍

[2019-02-22 23:43] louistiti commented on #7
Hello @goodwinfame @Shrubhog,

Please paste the output of your `npm run check`.

[2019-02-22 23:47] Shrubhog commented on #7
https://pastebin.com/QSQNJPF6
I have since switched to @Antoinebr's Docker image, and the problem did not occur. It was either a system problem or a PEBCAK.

[2019-02-22 23:52] louistiti commented on #7
I guess this is because the Python modules were installed under another env. Once you have the correct prerequisites, maybe a `npm run postinstall` could help as it will install the Python modules.

[2019-02-23 03:24] louistiti commented on #36
As the error mentions: `This is related to npm not being able to find a file`.

1. Are you sure you correctly upgraded to npm >= `5`? (try maybe to see with a `npm --version`)
2. Are you sure you are in the right path? According to your current path `/home/emperoreby/sideprojects/package.json` I'm wondering if you should not be in a path like `/home/emperoreby/sideprojects/leon/package.json`

If 1

[2019-02-23 03:25] louistiti commented on #35
I consider this issue as fixed. Feel free to reopen it if it wasn't.

[2019-02-23 03:25] #35 closed

[2019-02-23 03:38] Zauberfisch opened #38 "leon Can't handle LC_ALL=c"
### Specs

- Leon version: 1.0.0-beta.0
- OS (or browser) version: archlinux
- Node.js version: v11.10.0
- Complete "npm run check" output: [leon-check.txt](https://github.com/leon-ai/leon/files/2896341/leon-check.txt)

### Expected Behavior
[code]
### Actual Behavior
[code]

Error message from the process:
[code]

### How Do We Reproduce?
LC_ALL=c

(c is a valid locale, see https://linux.die.net/

[2019-02-23 03:43] Zauberfisch commented on #17
Do we really need to hardcode localhost anyway?

Is this intended to be a security measure?

[2019-02-23 03:52] louistiti commented on #17
Not anymore soonly: https://github.com/leon-ai/leon/pull/29 😉

Not really.

[2019-02-23 03:59] louistiti commented on #38
Hello @Zauberfisch,

Thanks for opening this issue. I replied to a similar one [here](https://github.com/leon-ai/leon/issues/18).

In the `.env.sample` file (which is duplicated to generate the `.env`) I'll see if it worth to replace:
[code]
to:
[code]

[2019-02-23 04:02] louistiti commented on #5
Hello @sh1ftsh @mortim59,

Actually the warning mentioned in https://github.com/leon-ai/leon/issues/5#issuecomment-463138073 should cause that issue.

I invite you to take a look at [this answer](https://github.com/leon-ai/leon/issues/18#issuecomment-464538272) to fix it.

Please let me know if it solved the problem or not.

[2019-02-23 04:11] Zauberfisch commented on #28
The documentation should also mention that deepspeach requires some more "recent" CPU instructions such as AVX

[2019-02-23 04:28] menporulporiayalan commented on #36
Yes, I am sorry. I ran the `npm run check` in different path. Here is the error content
[code]

[2019-02-23 10:50] Zauberfisch commented on #17
Why can't we do a dynamic host?

Might I suggest either not specify a host at all and let the browser figure it out or use javascript to detect what hostname was used dynamically per request?

[2019-02-23 13:53] louistiti commented on #1
Done in https://github.com/leon-ai/leon/pull/9.

[2019-02-23 13:53] #1 closed

[2019-02-23 16:04] menporulporiayalan commented on #36
@louistiti  Never Mind! I have installed with the docker :+1:  As I installed successfully I am closing this issue.

[2019-02-23 16:04] #36 closed

[2019-02-24 10:02] louistiti commented on #16
I upgraded Jest to the latest (`24.1.0`), which decrease the vulnerabilities to `3 low severity vulnerabilities` https://github.com/leon-ai/leon/commit/5474b6eccc59cf4d59f303a5dfc8870013233799.

For the reminding vulns:

- It seems an update to Babel 7+ will be necessary: https://github.com/babel/babel/pull/9550.
- Still waiting for the merge: https://github.com/jest-community/jest-extended/pull/1

[2019-02-24 10:25] louistiti commented on #38
I added a comment in the dotfiles regarding the topic.

- https://github.com/leon-ai/leon/commit/31658140367db27cc56058280e02e77eab169801
- https://github.com/leon-ai/leon/commit/1d559070e269250497d3ce187ce853b472551b50

[2019-02-24 10:25] #38 closed

[2019-02-24 10:30] louistiti commented on #5
I added a comment in the dotfiles.

- https://github.com/leon-ai/leon/commit/31658140367db27cc56058280e02e77eab169801
- https://github.com/leon-ai/leon/commit/1d559070e269250497d3ce187ce853b472551b50

[2019-02-24 10:30] #5 closed

[2019-02-24 12:50] menporulporiayalan opened #41 "Broken Leon Package"
### Specs

- Leon version: 1.0.0.beta -1
- OS (or browser) version: Ubuntu 18.10
- Node.js version: 11.10.0
- Complete "npm run check" output:
[code]

### Expected Behavior:
Leon should give a proper reply when we ask questions.

### Actual Behavior
It is throwing an error like "Sorry, I have an issue with the Greeting module of my Leon package!"

### Extra (like a sample repo to reproduce the iss

[2019-02-24 23:35] louistiti commented on #41
Hello @menporulporiayalan,

Thanks for opening this issue. Could you please paste the result of your `locale -a`?

[2019-02-25 03:01] menporulporiayalan commented on #41
Here it is

[code]

[2019-02-25 04:43] louistiti commented on #41
Somehow, some systems have `en_US.UTF8`, some have `en_US.UTF-8`, please note the different between those two.

According to the output of your `locale -a`, it seems yours should be `en_US.UTF8`. Also, be careful with your whitespace for your `LC_ALL`.

Once you finished to edit your `.env.sample`, then build again with your Docker as the `.env.sample` is duplicated to create the `.env` file, and

[2019-02-25 08:15] goodwinfame commented on #7
@louistiti thanks very much, `npm run postinstall` did work.

[2019-02-25 08:51] menporulporiayalan commented on #41
Thanks, it works! But it is not receiving my voice!

[2019-02-25 11:35] louistiti commented on #41
Regarding the voice topic it is another topic. I invite you to take a look at the [documentation](https://docs.getleon.ai/configuration.html#voice).

Feel free to open another issue if you think you need help.

[2019-02-25 11:35] #41 closed

[2019-02-25 11:55] menporulporiayalan commented on #41
@louistiti Thanks! :+1:

[2019-02-25 17:09] molamk opened #42 "Calendar package"
### Feature Use Case
- Schedule events (or appointments, phone calls, meetings, etc...)
- Some operations: Create / Get / Update / Delete

[code]

### Feature Proposal
Implement a Calendar package with sub-modules for each _provider_. For example
- Local calendar, through TinyDB
- Google Calendar
- Outlook
- Etc...

[2019-02-25 20:25] ctombumila37 commented on #30
Sorry for the delayed response.

@hk1997 Feel free to go ahead :)

[2019-02-25 23:16] louistiti commented on #42
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Todo Package](https://trello.com/c/2JhWggjD/56-%E2%9C%A8-todo-package)

[2019-02-25 23:17] louistiti commented on #42
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Calendar Package](https://trello.com/c/2JhWggjD/56-%E2%9C%A8-calendar-package)

[2019-02-25 23:19] louistiti commented on #42
Hello @molamk,

Thanks for suggesting. I adjusted [a card](https://trello.com/c/2JhWggjD/56-%E2%9C%A8-todo-package#) on the roadmap.

To do so, it'll be better to wait for the NLU improvement to be able to subtract dates entities at least.

[2019-02-26 13:01] Thibaud-A opened #43 "Forecast/weather package"
### Feature Use Case
Give informations about weather
-  Input : a date(today(default), tomorrow), a city name(external ip geolocalisation(default))
-  Output : weather, temperature and if the weather will remain stable in a few hour

[code]

### Feature Proposal
Implement a weather package which give information about the weather using external API like openweathermap. We can also use external IP

[2019-02-26 16:45] hk1997 commented on #30
sure, I am starting it then. thanks

[2019-02-26 18:00] menporulporiayalan opened #44 "How to update the packages?"
### How can I test my packages?

I am trying to add some modules in the Existing package. I have added the quotes module in the leon package.

I added this in` leon/data/expressions/en.json`
[code]
Then I have updated the below in ` leon/data/expressions/en.json
[code]

Then I create a new python file named  `quote.py`. Please see the below code.

[code]
I also created a new test python file in th

[2019-02-26 18:13] jtorresdev commented on #44
check the error logs get in console

[2019-02-26 18:19] menporulporiayalan commented on #44
I am running it through docker. Can you please tell me the code to get the logs in console?

[2019-02-26 19:03] jtorresdev commented on #44
`npm run dev:server`
`npm run dev:app`

[2019-02-26 23:23] louistiti commented on #30
Awesome! Please reference this issue to the PR 👍

[2019-02-27 00:16] guifelix opened #45 "Marketplace"
There should be a "marketplace" to see all packages and modules available for leon, I don't know if it's a problem to paste a link from the competitor, but I think it's self-explanatory how a marketplace should be.

[2019-02-27 02:48] menporulporiayalan commented on #44
@jtorresdev  I got this below error when I tried  `npm run dev:server`

[code]

[2019-02-27 02:53] jtorresdev commented on #44
@menporulporiayalan run `npm install`

[2019-02-27 03:11] menporulporiayalan commented on #44
@jtorresdev  Got this error, while installing.
[code]

[2019-02-27 04:12] louistiti commented on #45
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Marketplace](https://trello.com/c/E6qrlBM5/235-%E2%9C%A8-marketplace)

[2019-02-27 04:12] louistiti commented on #45
Hello @guifelix,

Thanks for your suggestion. And that idea was already in my mind, but not yet on the [roadmap](https://roadmap.getleon.ai).

I added it.

[2019-02-27 04:14] louistiti commented on #43
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Forecast Package](https://trello.com/c/xv2XLWBZ/236-%E2%9C%A8-forecast-package)

[2019-02-27 04:16] louistiti commented on #43
Hello @Thibaud-A,

Thanks for your suggestion. Better to wait for the [NLU improvement](https://github.com/leon-ai/leon/issues/2) before creating this module.

I added it to the [roadmap](https://roadmap.getleon.ai) 😉

[2019-02-27 04:41] menporulporiayalan commented on #44
@louistiti  Could you please let me know what I did wrong? Why the Leon breaks?

[2019-02-27 05:23] Thibaud-A commented on #43
Hello @louistiti ,

Ok thanks !
I already did a little POC using [openweathermap ](https://openweathermap.org/api) for the weather forecast and [ipstack ](https://ipstack.com/documentation) for the ip geolocalisation. If someone have better API don't hesitate to suggest me. In any case, I'll wait the NLU improvement before converting this POC in a real package.

[2019-02-27 05:39] louistiti commented on #44
Hello @menporulporiayalan,

First of all, thanks for contributing by creating a Leon's module.

It's normal you have these errors as you are using Python 2.7 outside of Docker.
Try to do a `docker logs -f <CONTAINER>`, with the ID of your running container, that will show you a log in real time.

[2019-02-27 05:40] louistiti commented on #43
Awesome!

I'm looking forward to see your contribution later on then 👍

[2019-02-27 16:55] menporulporiayalan commented on #44
@louistiti  In the Logs, I have got this below error.

`✖ The expressions classifier is missing, please rebuild the project or if you are in dev run: npm run train expressions
`

[2019-02-27 20:23] guifelix opened #46 "Python modules"
I'm trying to create a new module/feature for leon but I'm having a hard time with 3rd party modules....
whenever I try to import a module I get the error:

[code]

Is there any steps I have to follow to get this done?
I already have pyPEG installed with "pip install pypeg2" and "pip3 install pypeg2" commands

[2019-02-27 23:14] louistiti commented on #46
Hello @guifelix,

Thanks for creating a new Leon's module. If you share it, I'm looking forward to see the result.

Regarding your issue, you need to install the Python module via Pipenv from the `bridges/python` directory. Leon runs in a virtualenv which isolate his modules from the rest of your machine.
So:
1. `cd bridges/python`
2. `pipenv install pypeg2`
3. Import pyPEG in your module file

I

[2019-02-27 23:25] louistiti commented on #44
To develop a Leon's module, I do not recommend you to use Docker, as the Dockerfile and the npm scripts were prepared for an "easy to go" setup.
For the moment, the best shot would be to install Leon as mentioned in the documentation without Docker. To do so, you firstly need to use Python `3.6.x` as your machine is using Python `2.7` according to your previous log messages.

But now, to have a be

[2019-02-27 23:30] louistiti commented on #46
![](https://github.trello.services/images/mini-trello-icon.png) [📝 [1.0.0-beta.2] How to install a Python module in the "Packages & Modules" section of the docs](https://trello.com/c/6IfPJaOm/237-%F0%9F%93%9D-100-beta2-how-to-install-a-python-module-in-the-packages-modules-section-of-the-docs)

[2019-02-28 07:22] menporulporiayalan commented on #44
@louistiti  Here it is ->  [Pastebin link](https://pastebin.com/y9ftieKM)

[2019-02-28 07:24] louistiti commented on #44
The Pastebin is private, I cannot see it. Please switch to public.

[2019-02-28 08:49] menporulporiayalan commented on #44
I am sorry, Kindly check now.

[2019-02-28 12:21] louistiti commented on #44
Are you sure you built again with `npm run docker:build`? Because it should generate your classifier on that moment.

But as I said, don't use Docker for development purposes as the Leon's workflow is not ready for that (yet).

[2019-02-28 12:40] guifelix commented on #46
it worked!

[2019-02-28 12:42] louistiti commented on #46
Awesome. I'll close this issue then.

Feel free to open another one if you have any other question.

[2019-02-28 12:42] #46 closed

[2019-02-28 16:14] molamk commented on #3
@louistiti Can I work on this feature?

[2019-02-28 16:42] menporulporiayalan commented on #44
Yes, I Built. I figured out the issue. The Issue is with the JSON file. Thanks for your time @louistiti :)

[2019-02-28 16:42] #44 closed

[2019-03-01 00:14] louistiti commented on #3
Hello @molamk,

Thanks for that. However regarding this package/module, I prefer to handle it myself to confirm that the NLU improvement is complete enough for such modules.

It's still a WIP, but I committed yesterday about that topic https://github.com/leon-ai/leon/commit/6585db718ccae1d750a35783075cf61cc8fe84f1.

Feel free to pick up a package from the [roadmap](https://roadmap.getleon.ai) back

[2019-03-01 00:43] molamk commented on #3
Roger that @louistiti ! I'll take a look at the roadmap and pick up card from there.
Keep up the good work!

[2019-03-01 00:44] louistiti commented on #3
Cool! I'm looking forward to see your contribution 👍

[2019-03-01 03:46] Sab94 commented on #37
@louistiti, can I hijack this one?? 😅😅

[2019-03-01 05:26] louistiti commented on #37
Hello @Sab94,

Yes with pleasure! Let us know once you have something.

[2019-03-01 16:43] ethinallen commented on #43
I can write something for this Sunday using the Dark Sky API; the pricing plan seems to be a lot cheaper than openweathermap (the first 1000 api calls are free and $0.0001 / call after that).

[2019-03-01 18:56] aikar opened #47 "Re-version to 0.x.x?"
I feel labeling this project as 1.0.0 to be deceptive, especially for a project this large in scope.

1.0.0 to most developers signals a 'ready for production use' mark for a projects lifecycle.

I would suggest following semantic versioning and start with 0.x.x.

[2019-03-02 00:41] louistiti commented on #47
Hello @aikar,

Thanks for suggesting. However, please note the suffix containing the label `beta` as follows: `-beta.x`. It is completely [semver friendly](https://semver.org/#spec-item-9). I chose this versioning at the beginning because it has all the nodes I wanted for the project (TTS, STT, NLP, bridges, etc.).

Also, I just edited the [releases](https://github.com/leon-ai/leon/releases) to pr

[2019-03-02 01:00] louistiti commented on #43
Hello @ethinallen,

Great! We could definitely create a `Forecast` package which contains the `OpenWeatherMap` and the `Dark Sky` modules.

However, to make Leon understands which one of these modules he needs to use we'll need to add `using dark sky` or `using openweathermap` to the expressions for one of these modules. So we'll need to see which one we can use as default module as the expression

[2019-03-02 10:22] Thibaud-A commented on #43
Hello @ethinallen,

Thanks for your suggestion ! :-)
I checked the pros and the cons between OpenWeatherMap and Dark Sky and I have concluded this.

Pro of Darsky :
- more precise when you want minute to minute weather

Cons :
- less features on the free version,
- less call availables (1000 per day for Dark Sky and 60 per minutes/86400 per day for OpenWeatherMap)
- only one way to give informatio

[2019-03-02 21:44] Thibaud-A commented on #37
Hello,

I tried to do it on my own but unfortunatly I got this error :
![image](https://user-images.githubusercontent.com/7150373/53687971-65659900-3d3c-11e9-941e-e18aa5ffaec7.png)
If you get the way to fix it by loading another library it could interrested me ;-)
I'm on a Pi 2 B.

[2019-03-03 08:43] TheFehr opened #48 "Bridges"
Just a quick question how did you imagine Leon to decide which Bridge to call?

I have been tinkering on a go bridge, saddly that one only will work on mac OS and Llnux until golang fixes their plugin package to work with windows.

[2019-03-03 16:40] OzTK commented on #38
Thanks for adding this comment, it helped me finding a valid locale and fix this problem :) Still took me a bit of digging into the repo issues to find out about it. Would it be worth adding a step in the docs to configure the locale? I can open a PR if it helps.
This error showed up when I ran `npm install` the first time

[2019-03-03 23:44] louistiti commented on #38
![](https://github.trello.services/images/mini-trello-icon.png) [📝 FAQ in docs](https://trello.com/c/NwWLpufW/240-%F0%9F%93%9D-faq-in-docs)

[2019-03-03 23:45] louistiti commented on #38
Hello @OzTK,

Thanks for suggesting and I'm happy that helped. I added a card to the roadmap about creating an FAQ section in the docs. That will be added to it.

[2019-03-03 23:53] louistiti commented on #48
Hello @TheFehr,

Thanks for opening this issue. I was thinking about an environment variable in the `.env` with something like `LEON_BRIDGE_TYPE` and according to the value of this env variable, Leon's brain executes the module dedicated to that specific language.

But that will be for later because I still need to work on the Leon's packages setup to make them work standalone without having to in

[2019-03-03 23:54] louistiti commented on #47
I close this issue as the answer has been provided.

[2019-03-03 23:54] #47 closed

[2019-03-04 00:18] OzTK commented on #38
Nice! Sounds like the perfect place for this kind of problems.
Also, awesome job on Leon 👏👏 I hope I can contribute soon 🙂

[2019-03-04 00:19] louistiti commented on #38
Thanks for supporting!

Looking forward to your contribution then 👍

[2019-03-04 06:24] TheFehr commented on #48
@louistiti but that would mean if there is an amazing weather package in python and a powerfull math package in golang I uld need to choose if I either want to be able to ask Leon about the weather or my math problems? (just naming random packages here)
Can't we give the users of leon the possibility to have multiple bridges at the same time? I know it will be way more complicated, but I for one w

[2019-03-04 13:33] louistiti commented on #48
![](https://github.trello.services/images/mini-trello-icon.png) [✨ New bridges](https://trello.com/c/z9lNNYKY/241-%E2%9C%A8-new-bridges)

[2019-03-04 13:41] louistiti commented on #48
Indeed, and this is of course doable.

During his initialization, Leon can check if a bridge is correctly configured and ready to execute modules. According to that, he'll execute or not the requested module.
I'll see how to deal with priorities, two bridges might have the same module just rewritten in their respective language. But I suppose I'll add a "priority" property setting here that we cou

[2019-03-04 13:56] TheFehr commented on #48
Yeah I was thinking in the same direction, do you think you'll need to do more breaking changes on the code for the NLU improvement or could I give this a try and test it with my golang bridge?

[2019-03-04 13:59] louistiti commented on #48
I would still prefer to wait for a while before doing that.

[2019-03-04 14:15] TheFehr commented on #48
Okay, then I will just keep my golang bridge similar to your example python bridge, so when the time is right I can test it.

[2019-03-04 14:15] #48 closed

[2019-03-04 14:34] louistiti commented on #48
Alright, do not hesitate if you have any questions.

[2019-03-06 07:47] gruessung opened #49 "Docker URL"
### Question

If i use docker to deploy Leon it try to connect to localhost:1337.

Is it possible to give leon the correct URL and port?

[2019-03-06 19:24] rioukkevin opened #50 "Docker Install - no modules seems working v2019-03-04"
Hello,

I create this issue but the problem can be on my side ;),
I install Leon on my ArchLinux with docker, The build and installation looks good, leon start on Leet's port ;) so when I want to speak with leon It looks like no modules work as we see on the screen capture :)
I think the problem can be on my side, I have archLinux with deepin and docker don't have the reputaton to work good on it

[2019-03-06 21:17] pegeroad commented on #50
Hi, I have the same issue on Windows with Docker. Although in the log I can see, the preinstall and the other scripts can be ran since they are not found.

[2019-03-06 22:29] rioukkevin commented on #50
I restart the installation tommorow, I can't see the logs today, I confirm if I have the same with preinstall scripts and the other ;)

[2019-03-06 22:55] pegeroad commented on #50
I investigated further, the problem was that the user had no permissions to run the scripts inside the container..

[2019-03-06 23:57] louistiti commented on #50
Hello @rioukkevin,

Thanks for opening this issue. To understand what is happening, could you please do the following:

1. Run: `npm run docker:build`
2. Run: `npm run docker:run`
3. Run: `docker logs -f <YOUR_CONTAINER>`
4. Send one message to Leon
5. Paste the full output of your terminal in a [Pastebin](https://pastebin.com/)
6. Share this Pastebin here

[2019-03-07 00:05] louistiti commented on #49
Hello @gruessung,

Thanks for opening this issue. During the installation process, Leon will duplicate the `.env.sample` file to a `.env` file.
As you can see in those files, you have several environment variables already setup such as:

[code]

Try to edit the:
- `.env.sample` file
- `docker:run` script in the `package.json` file by replacing `1337:1337` to your new `LEON_SERVER_PORT`

Then execu

[2019-03-07 00:53] louistiti opened #51 "Is It Down Module - Use NLU entities to find domain names"
### Expected Behavior

Leon uses NLU entities to find domain names.

### Actual Behavior

Leon uses a customized regex to find domain names.

### Proposal

Use the NLU extraction entities to find the domain names and give it to the core.

[2019-03-07 00:54] louistiti commented on #51
Done in https://github.com/leon-ai/leon/commit/f0628a7d7d30e335592795bc9c284165ee4e9f60.

[2019-03-07 00:56] #51 closed

[2019-03-07 01:03] louistiti commented on #2
Quick update for this topic:

I'm working under the [nlu-improvement branch](https://github.com/leon-ai/leon/tree/nlu-improvement).

Leon is able to find several entities from a query thanks to [node-nlp](https://github.com/axa-group/nlp.js).

The Is It Down module is now using these entities instead of a custom regex to find the domain names (related to https://github.com/leon-ai/leon/issues/51).

[2019-03-07 10:28] ahmadrezash opened #52 "ToDoList package"
hi!
Thanks for your interest in Leon! ❤️
Leon can manage or task with a todo list.
It is can contain 3 list: ToDo/Doing/Done
And we tell him for example I should send email to my mother and tell him I sent email too my mom.
We can set lable for any task for importancy or set a deadline for them
And all task can depend on time.
Hey Leon I should read that article tomorrow
and additinal feature.
it'

[2019-03-08 00:04] louistiti commented on #52
Hello @ahmadrezash,

Thanks for this suggestion. However, that is already in pending via [this issue](https://github.com/leon-ai/leon/issues/42), feel free to follow up there 😉

[2019-03-08 00:04] #52 closed

[2019-03-08 08:44] bjadel commented on #50
Hi,

same problem here. I get the following error with docker logs -f ...

`
  File "bridges/python/main.py", line 4, in <module>
    import utils
  File "/app/bridges/python/utils.py", line 11, in <module>
    from tinydb import TinyDB, Query, operations
ModuleNotFoundError: No module named 'tinydb'
`

[2019-03-08 11:19] rioukkevin commented on #50
Sorry, I don't find time yesterday :( Normally this evening I can reinstall Leon ;) and give you logs

[2019-03-08 18:19] rioukkevin commented on #50
I restart from Scratch, here is the docker:build logs https://pastebin.com/5Te3MVA7 and now here the docker:run log https://pastebin.com/VyMHLfwB I make multiple request because the response don't look logic, With reinstall today and git update, no problem ;)

[2019-03-08 21:51] OzTK opened #54 "Chromecast package"
### Feature Use Case
- Starting Youtube playlists on a Chromecast device
- Controlling a media playing on a Chromecast device

### Feature Proposal
Chromecast package allowing to interact with a connected Chromecast device. 2 modules for a start:

## Youtube module
Ask Leon to find a playlist on youtube and play it. This performs a search and starts playing the first playlist from the results.

##

[2019-03-09 00:29] louistiti commented on #50
Hello @bjadel,

Thanks for reporting. Could you please do [the following](https://github.com/leon-ai/leon/issues/50#issuecomment-470325702)?

@rioukkevin, alright, it looks good then. Some answers don't seem logic now simply because Leon needs new skills, but once he gets it, it'll be logic. Don't hesitate to suggest and contribute.

[2019-03-09 00:36] louistiti commented on #54
Hello @OzTK,

Thanks for suggesting and for being willing to contribute, it looks great!

If you feel confident with the current NLU, or even with the improved one via [this branch](https://github.com/leon-ai/leon/tree/nlu-improvement) then go for it. Do not hesitate if you have any questions.

I'm looking forward to see the result.

[2019-03-09 00:42] louistiti commented on #30
https://github.com/leon-ai/leon/pull/53.

[2019-03-09 10:54] rioukkevin commented on #50
Okay, perfect, I don't know python today, I'm going tout study it tout understand how module work ;)
Have a nice day

[2019-03-09 11:46] OzTK commented on #54
Cool! Sounds like a good idea to use the new NLU branch, I'll port the experiment there and see how things work together

[2019-03-10 01:36] Ursus-Bear opened #57 "snowboy"

[2019-03-10 01:42] Ursus-Bear commented on #57
Hi,

I'm trying to install the leon on offline mode via 'npm run setup:offline'. But I always get the error 'Tried to download(403): https://snowboy-release-node.s3-us-west-2.amazonaws.com/snowboy/v1.2.0/Release/snowboy-v1.2.0-node-v67-linux-x64.tar.gz', and I tried to access the S3 by the url, i found it is true i haven't the permission.
So could you help me to fix this error or should i install

[2019-03-10 01:58] louistiti commented on #50
Alright, I spotted the issue and made a fix for that: https://github.com/leon-ai/leon/commit/c8a68ab02eec9ddaf803b6e36cd7e91a4989cdea.

While installing with Docker, if the `.env` file was already existing when Leon was processing to the `postinstall` script, then at the moment where it was asking to overwrite the `.env` file, Leon was directly quitting the process and was not continuing the insta

[2019-03-10 01:58] #50 closed

[2019-03-10 02:00] louistiti commented on #50
![](https://github.trello.services/images/mini-trello-icon.png) [🐞 [1.0.0-beta.2] Leon is not fully installed if a .env file is already existing while building with Docker](https://trello.com/c/jeRpLC6A/244-%F0%9F%90%9E-100-beta2-leon-is-not-fully-installed-if-a-env-file-is-already-existing-while-building-with-docker)

[2019-03-10 02:19] louistiti commented on #57
Hello @Ursus-Bear,

Thanks for opening this issue. Could you please tell me which Node.js version you are using?

You must use Node.js 8 to install and run the hotword detection as mentioned in [the docs](https://docs.getleon.ai/offline.html#hotword).

Let me know if that works.

[2019-03-10 06:37] mrmmg opened #58 "pipenv cannot find python path"
### Specs

- Leon version: last version (i download it today)
- OS (or browser) version: Windows10 - 64bit
- Node.js version: 10.15.0
- Complete "npm run check" output:
➡ C:\WINDOWS\system32\cmd.exe /q /s /c "node --version"
✔ v10.15.0

➡ C:\WINDOWS\system32\cmd.exe /q /s /c "npm --version"
✔ 6.4.1

➡ C:\WINDOWS\system32\cmd.exe /q /s /c "pipenv --version"
✔ pipenv, version 2018.11.26

✖ Error: Co

[2019-03-10 06:45] #58 closed

[2019-03-10 09:55] Ursus-Bear commented on #57
Hello @louistiti,

Thanks for your reply!
Yes, it works. But I also met another problem: when I visit the http://localhost:1337, I just saw the black background without anything. It seems something covers the client box.Looks like below.
![无标题](https://user-images.githubusercontent.com/7314727/54083367-49c24a00-435d-11e9-90c4-d3625ccee9de.png)

I don't know what's the root cause.

[2019-03-10 11:11] bjadel commented on #50
With beta2 release the problem is gone. Thanks

[2019-03-10 14:13] bjadel opened #59 "Speech2Text error"
Hi,

I get an error when using STT. I use the offline version of STT and TTS.

### Specs

- Leon version: 1.0.0-beta2
- OS (or browser) version: openSUSE Tumbleweed
- Node.js version: docker version
- Complete "npm run check" output:

`
➜  leon git:(develop) ✗ docker exec -it 97c3b4910a12 sh
/app # npm run check

⠋
---

.: CHECKING :.

➡ /bin/sh -c node --version
✔ v10.15.2

➡ /bin/sh -c npm --ver

[2019-03-10 23:57] louistiti commented on #57
Ensure that you use Node.js 10 when you launch Leon and Node.js 8 when you launch the hotword detection.

[2019-03-11 00:16] louistiti commented on #59
Hello @bjadel,

Thanks for reporting. Are you using the `deepspeech` or `deepspeech-gpu` package?

[2019-03-11 07:16] bjadel commented on #59
Hello @louistiti,

this is a good question. I connected to the docker container and enabled in the .env file TTS and STT. Then I executed the following two commands inside the container:

`
npm run setup:offline-stt
`

`
npm run setup:offline-tts
`

Where can I see which package he is using?

[2019-03-12 00:13] louistiti commented on #59
Alright then I suppose you are using the default one which is `deepspeech`.
Unfortunately I'm not able to reproduce the error right now, I'll try to dig deeper this weekend.

[2019-03-12 00:20] louistiti commented on #59
![](https://github.trello.services/images/mini-trello-icon.png) [🐞 Take a deeper look at the DeepSpeech issue](https://trello.com/c/t9CB7hhY/246-%F0%9F%90%9E-take-a-deeper-look-at-the-deepspeech-issue)

[2019-03-12 12:48] louistiti commented on #59
Hello @bjadel,

I took some time to go deeper into that issue. However I was not able to reproduce the error. Maybe you could try on Ubuntu via a VM for example?

Please keep me in touch if you do so.

[2019-03-12 18:29] benonilearns commented on #36
So i had this issue as well and wanted to provide a solution. This error occurs when you install pip/pipenv in a way that your pip and pipenv installation goes nuts(PATH issues). First:

sudo python3 -m pip uninstall pip && sudo apt install python3-pip --reinstall
sudo python -m pip uninstall pip && sudo apt install python3-pip --reinstall

Then follow this guide step by step:

https://phoikoi.io/

[2019-03-12 23:48] louistiti commented on #36
![](https://github.trello.services/images/mini-trello-icon.png) [📝 FAQ in docs](https://trello.com/c/NwWLpufW/240-%F0%9F%93%9D-faq-in-docs)

[2019-03-12 23:48] louistiti commented on #36
Hello @benonilearns,

Thanks for that. Your solve will be added to the FAQ once it'll be there.

[2019-03-13 07:13] bjadel commented on #59
Hi @louistiti

I have aborted further troubleshooting and tried to get it to run without docker. The problem was that I didn't have Python 3.6 installed. I could solve that yesterday with pipenv. Now STT and TTS are running.

Cheers
Björn

[2019-03-13 23:47] louistiti commented on #57
I'll close that issue.

Feel free to reopen if it's still not fixed.

[2019-03-13 23:47] #57 closed

[2019-03-13 23:48] louistiti commented on #59
Great, thanks for saying.

I'll close that issue as the problem has been solved.

[2019-03-13 23:48] #59 closed

[2019-03-14 15:31] menporulporiayalan commented on #36
Thanks mate! @benonilearns

[2019-03-15 09:59] haszz opened #60 "Website reputation feature"
### Feature Use Case
Ask Leon the reputation of a particular website. For example : « Leon, what is the reputation of github.com ? », « Is the aliexpress.com website safe ? »

### Feature

I think this can be easily done, using free APIs like « AlienVault Open Threat Exchange (OTX) », « Google Safe Browsing », « Web Of Trust (WOT) ». Using VirusTotal we can even lunch URL analysis.

I think that t

[2019-03-15 11:31] louistiti commented on #60
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Checker Package - Website Reputation module](https://trello.com/c/HQUHwi2b/247-%E2%9C%A8-checker-package-website-reputation-module)

[2019-03-15 11:33] louistiti commented on #60
Hello @haszz,

Thanks for suggesting. I love the idea!

Is that something you could work on? Also here, it's better I finish the [NLU improvement](https://github.com/leon-ai/leon/issues/2) before to get started.

[2019-03-16 10:51] TheFehr commented on #48
For your information: on my fork of leon in the golang-bridge branch is a functional golang bridge including a golang version of the isitdown module.
To try it out you need this: https://gist.github.com/TheFehr/58dc8e204d2e5e8c5123b48757643fe4

Thanks for your amazing work

[2019-03-17 00:25] louistiti commented on #48
It seems good. Thanks for sharing!

The roadmap card is already created to ensure that will be taken in consideration once we'll discuss about this topic later on.

[2019-03-19 00:35] louistiti opened #61 "Slot filling option for modules (flow)"
Something that I have really dream about in the night between the 22nd to the 23rd of February.

### Feature Use Case

A good example could be the game of "guess the number".

### Feature Proposal

Be able to have a dedicated "flow" for each module. As long as the user does not say "stop" or the module does not exit via a trigger, then the flow continue for this specific module.

Dedicated "flow"

[2019-03-19 00:36] louistiti commented on #61
![](https://github.trello.services/images/mini-trello-icon.png) [✨ [1.0.0-beta.3] Dedicated modules flow](https://trello.com/c/iRTlyUB5/231-%E2%9C%A8-100-beta3-dedicated-modules-flow)

[2019-03-19 00:40] louistiti opened #62 "Named entity recognition (trim)"
### Feature Use Case

### Feature Proposal

Use named entity recognition to be able to build such modules as the Todo List module.

[2019-03-19 00:41] louistiti commented on #62
![](https://github.trello.services/images/mini-trello-icon.png) [✨ [1.0.0-beta.3] Named entity recognition on modules](https://trello.com/c/f6F2LDyz/248-%E2%9C%A8-100-beta3-named-entity-recognition-on-modules)

[2019-03-19 00:43] louistiti commented on #49
I close this issue as the answer has been provided.

[2019-03-19 00:43] #49 closed

[2019-03-19 00:45] louistiti commented on #2
I finished this improvement. It'll be released in the `1.0.0-beta.2` version (cf. https://github.com/leon-ai/leon/commit/82ebbee568d1b8ccfacbe2a74e50afb01e9d9577).

[2019-03-19 00:45] #2 closed

[2019-03-19 00:48] louistiti commented on #42
Related to https://github.com/leon-ai/leon/issues/62.

[2019-03-23 00:33] louistiti commented on #3
I'm working under [that branch](https://github.com/leon-ai/leon/tree/trend-package) for that feature.

[2019-03-24 00:28] louistiti opened #63 "Allowing HTML output"
### Feature Use Case

When we need modules returns HTML answers, such as the Trend package with the GitHub module, we need to display the repositories links.

### Feature Proposal

Simply allow the client to understand HTML when it displays the answers. We also need to stripe HTML tags for the TTS.

[2019-03-24 00:28] louistiti commented on #63
![](https://github.trello.services/images/mini-trello-icon.png) [✨ [1.0.0-beta.2] Allow HTML outputs](https://trello.com/c/4d919sKP/250-%E2%9C%A8-100-beta2-allow-html-outputs)

[2019-03-24 00:30] louistiti commented on #63
Done in https://github.com/leon-ai/leon/commit/ec3f02dfaf2f4b7623ce350350ebee28cf18740e.

[2019-03-24 00:30] #63 closed

[2019-03-24 15:55] louistiti commented on #3
The GitHub module of the Trend package is nearly done, we can use it as following:

[code]

[2019-03-24 17:17] Zeikko opened #64 "Spotify Package"
### Feature Use Case

- Play a song
- Play an album
- Play songs of an artist
- Stop music
- Resume music
- Set volume
- Tell what are we listening to

[code]

### Feature Proposal

Implement a feature to use the Spotify web API to find the music that the use is looking for and play with a device that is available through the API.

[2019-03-24 17:21] jtorresdev commented on #64
Hi @Zeikko , I have some worked on this package https://github.com/jtorresdev/leonify

[2019-03-24 18:29] Zeikko commented on #64
Cool! Great work! I just tried it out and got this error: `✖ The "Leonify" package configuration file does not exist. Try to pull the project (git pull)` when running `npm install` in leon root.
Also the leonify dependencies are missing so I get this when trying to play a song:
[code]

[2019-03-24 19:53] jtorresdev commented on #64
try installing six module `pip install six`

[2019-03-25 00:14] louistiti commented on #64
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Music Package](https://trello.com/c/kX7Mv9Iv/58-%E2%9C%A8-music-package)

[2019-03-25 00:17] louistiti commented on #64
Hello @Zeikko,

Thanks for suggesting! A while ago I planned to create a Music package containing a Spotify module as you can see on the [roadmap](https://trello.com/c/kX7Mv9Iv/58-%E2%9C%A8-music-package). But depending how Leon will evolve until there, maybe a Spotify package will be more appropriate, let's see.

@jtorresdev it looks awesome! 👏

[2019-03-26 00:36] pirate opened #65 "Add examples of possible queries to readme"
After browsing this project's README and Docs for 5 minutes, I still have no idea what Leon is actually used for.

Please provide some examples of things Leon can do in the README, so that readers landing on the project can quickly understand what types of problems it can help solve.

e.g.

 - `Leon, set a timer for 25 minutes` -> `Ok, I'll message you in 25min`
 - `Leon, read me my last 3 message

[2019-03-26 04:14] louistiti commented on #65
Hello @pirate,

Thanks for opening that issue.

Today, the most interesting part is about his core and the way he can scale up. He is pretty young but can easily scale to have new features (packages/modules).
As mentioned in the docs, you can find what he is able to do by browsing the packages via [this link](https://github.com/leon-ai/leon/tree/develop/packages).

Also, I plan to implement some p

[2019-03-26 15:33] nrj5k commented on #64
Why not an mpd client on Leon and users can configure their own sources from there as well?

[2019-03-27 00:08] louistiti commented on #64
Hello @nrj5k,

It is an interesting idea. But for now I prefer to minimize the type of clients. However, that's something we could implement directly on the top of the existing client.

[2019-03-27 01:01] nrj5k commented on #64
I like the sound of that.

[2019-03-27 01:03] louistiti commented on #64
Today the web app client is a simple messaging interface, but later we could imagine that will be a bit more complex than that with cool features 😃

[2019-03-28 00:54] louistiti opened #66 "Transform `code` property output to a `codes` list"
### Expected Behavior

Be able to write these kind of modules tests:

[code]

That change will allow to test and have a complete tracking of the outputs that have been created while executing modules.

### Actual Behavior

Currently, it's only possible to get the latest `inter` code output and the `end` output.

### Proposal

For each output that has been created, append a new code to a codes list

[2019-03-28 00:56] louistiti commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 [1.0.0-beta.2] Transform `code` property output to a `codes` list](https://trello.com/c/kWSrlkYe/251-%F0%9F%94%A7-100-beta2-transform-code-property-output-to-a-codes-list)

[2019-03-28 00:56] louistiti commented on #66
Done in https://github.com/leon-ai/leon/commit/34ff430572ab194f49dfbfad982dcffb00296578.

[2019-03-28 00:56] #66 closed

[2019-03-28 23:13] louistiti commented on #46
It'll be mentioned in the docs via this PR https://github.com/leon-ai/docs.getleon.ai/pull/6/commits/d5712485f6981759a7517b99604bbcf998feefe1.

[2019-03-29 08:16] 1-riverfish opened #67 "Docker build failed."
### Specs

- Leon version: master branch
- OS (or browser) version: linux
- Node.js version: 10.15.3
- Complete "npm run check" output:
- (optional) Leon package version:

Run in docker.
The command '/bin/sh -c npm install' returned a non-zero code: 137
npm ERR! code ELIFECYCLE
npm ERR! errno 137
npm ERR! leon@1.0.0-beta.1 docker:build: `docker build -t leonai/leon . --force-rm`
npm ERR! Exit stat

[2019-03-29 14:03] louistiti commented on #67
Hello @1-riverfish,

Thanks for this report.

The Docker `137` code seems to be related to an out of memory error. Try to attribute more RAM to your system before running it. [This post](https://samwize.com/2016/05/19/docker-error-returned-a-non-zero-code-137/) might help.

[2019-03-29 19:01] remyvanlerberghe commented on #32
I'd be interested in working on that, do you have any specs or further information on the feature ?

[2019-03-30 00:26] 1-riverfish commented on #67
Thanks you @louistiti ,
I deployed leon on my banwagon server with only 512MB RAM.
Later i will try to deploy leon in my local host.

[2019-03-30 00:31] louistiti commented on #32
Hello @remyvanlerberghe,

Thanks a lot for willing to contribute! However, for such big milestone I would prefer to handle it myself.

But of course feel free to work on it and see which point you can reach then I may take over from your codebase if you did not finish yet. Also, I prefer to use a web stack, so Electron here must be used.

[2019-03-30 00:37] louistiti commented on #67
Did you succeeded to make Leon worked on your Bandwagon server with 512MB RAM?

Feel free to close this issue if your issue is solved and don't hesitate to open a new one if you have any concerns.

[2019-03-30 00:38] louistiti commented on #65
I'll close this issue as the answer has been provided.

[2019-03-30 00:38] #65 closed

[2019-03-30 01:25] 1-riverfish commented on #67
Yes, I deployed it by following the post you give.
However,open http://39.105.38.48:1337 in browser,it seems wrong...

[2019-03-30 01:25] #67 closed

[2019-03-30 02:48] pirate commented on #65
Sure,  https://github.com/leon-ai/leon/tree/develop/packages actually perfectly answers my question.  My only suggestion is to link to that URL using the word "example" or "demo" or "usage" somewhere in the README so that newcomers can find it easily, as I never would have seen those examples had you not linked to it here.

[2019-03-30 04:25] louistiti commented on #65
Indeed, it has been done via https://github.com/leon-ai/leon/commit/d558fc8b7c6494babf5dec799802227f77c33d8a.

[2019-03-30 04:38] louistiti commented on #46
Done in https://github.com/leon-ai/docs.getleon.ai/commit/872189e4fc936850fa6d14e442c6738a34bfc1d9.

[2019-03-30 06:23] 1-riverfish opened #68 "Seems not work"
### Question
I deployed it in docker and seems solved all problem. But open in the browser is as below
![](http://39.105.38.48/images/2019/03/30/leon-error.png)
And in the console, here is the error output
Failed to load resource: net::ERR_CONNECTION_REFUSED
main.js:367 Uncaught TypeError: Cannot read property 'error' of undefined
    at main.js:367
    at Request.callback (main.js:1716)
    at Re

[2019-03-31 03:49] louistiti commented on #68
Hello @1-riverfish,

Thanks for opening this issue. To understand what is happening, could you please do the following:

1. Run: `npm run docker:build`
2. Run: `npm run docker:run`
3. Run `docker container ls` and copy the ID of your container
4. Run: `docker logs -f <YOUR_CONTAINER_ID>`
5. Go http://localhost:1337 with your browser
6. Paste the full output of your terminal in a [Pastebin](https:/

[2019-04-01 04:55] iifeoluwa opened #69 "Have I Been Pwned Module"
### Feature Use Case
[ ✨ Checker Package - Have I Been Pwned module](https://trello.com/c/8zUohuMG/104-✨-checker-package-have-i-been-pwned-module)
### Feature Proposal
Have Leon check if an email address has been compromised using https://haveibeenpwned.com/API/v2.

[2019-04-01 04:58] iifeoluwa commented on #69
Going to begin work on this once I get the go-ahead from @louistiti

[2019-04-01 05:38] louistiti commented on #69
Hello @iifeoluwa,

Awesome! I'm looking forward to see the results.

Quick thing, it would be nice to let the user setup pre-defined email addresses in the `config.json`. In that way, when the user say: `Have I been pwned?`, then Leon will check the email addresses in the `config.json` and request the Have I Been Pwned API.
And if the user provides the email addresses in the query, like `Is my-ema

[2019-04-01 12:26] sobrinho opened #70 "Leon closing unexpectedly"
### Specs

- Leon version: 1.0.0-beta.1
- OS (or browser) version: Chrome (MacOS Mojave)
- Node.js version: v11.10.0
- Complete "npm run check" output:

[code]

- (optional) Leon package version:

### Expected Behavior

If something fail, Leon must recover itself.

### Actual Behavior

Something happened and Leon closed unexpectedly (nothing seemed to have failed in the interface).

### How Do We

[2019-04-01 12:43] sobrinho opened #71 "npm run setup:offline is not working"
### Specs

- Leon version: 1.0.0-beta.1
- OS (or browser) version: MacOS Mojave
- Node.js version: v11.10.0
- Complete "npm run check" output:
- (optional) Leon package version:

### Expected Behavior

Setup offline packages.

### Actual Behavior

![Screen Shot 2019-04-01 at 09 42 00](https://user-images.githubusercontent.com/26460/55328342-87009000-5462-11e9-8f23-2e02b3c45446.png)

### How Do We

[2019-04-01 13:03] louistiti commented on #71
Hello @sobrinho,

Thanks for reporting. It seems you are using Node.js 11+, whereas you must use Node.js 8 only to setup and run the hotword node. You can find the docs [over here](https://docs.getleon.ai/offline.html#hotword).

[2019-04-01 13:08] louistiti commented on #70
Hello @sobrinho,

Thanks for reporting.

For such behaviors, I prefer to throw exceptions today (it might change in the future depending of the severity of the exception itself). Here it seems your AWS TTS is failing somehow. Are you sure you provided the right AWS settings? Maybe you can try it standalone on the AWS side.

[2019-04-01 14:20] sobrinho commented on #71
Node 8 makes the hotword works but makes the Leon itself to not work.

This is the supposed way to go?

[2019-04-01 15:13] iifeoluwa commented on #69
Hi @louistiti, thank you for the pointers.

 I'd like to clarify the email address in config part though. To the best of my knowledge, Leon doesn't ask for an email address at any part of the install process. Should the user be able to manually insert an email entry in the package's config file, or do we set it as another ENV variable that is read?

Setting as ENV variable might be much less appro

[2019-04-01 20:31] marrodeur opened #72 "Python && python3"
Bonsoir, c'est difficile de mettre ce léon en place, mais je vais y arriver.
J'ai un petit problème avec ce python et python3, léon ne detecte pas mon python3 (lors du check) car sur la derniere version derbian la version 2 est toujours utilisé. (Je ne suis pas un pro de linux). Donc suivant les forums on deconseil de remplacer python2 par python3 par defaut. Pourquoi est-ce que léon ne va pas che

[2019-04-01 23:01] louistiti commented on #71
No, you need to use Node.js 8 to install and execute the hotword process and Node.js 10+ to launch Leon. This is why in the link I shared in my previous post there is a tip recommending you to "Use [nvm](https://docs.getleon.ai/how-to/#how-to-install-node-js) to easily switch between your Node.js versions." 😉

[2019-04-01 23:16] louistiti commented on #72
Hello @marrodeur,

*English translation*

Thanks for opening this issue.

Maybe you can take a look [here](https://docs.getleon.ai/how-to/#how-to-install-python) about how to install Python via pyenv.
Otherwise, you could create a Python alias such as `alias python=python3` and paste it in your `.bashrc` file (further info [over here](https://askubuntu.com/a/321000)).

Thanks for supporting!

--

[2019-04-01 23:35] louistiti commented on #69
Indeed Leon does not ask for any email address during setup. But if you take a look at [this part](https://docs.getleon.ai/packages-modules.html#configuration) of the docs, you can see that every package has their own configuration, in your case, the configuration is located in `packages/checker/config/config.json`. You will need to add a key `haveibeenpwned` in this file with a sub-key `emails` t

[2019-04-02 00:38] louistiti commented on #3
The GitHub module is done and [merged](https://github.com/leon-ai/leon/commit/6db9eb1e70eb7f5353ed7c11c5f7a9939adb92b1) into [develop](https://github.com/leon-ai/leon/tree/develop).

[2019-04-02 10:17] 1-riverfish commented on #68
@louistiti
I will try it later.
Thank you very much.

[2019-04-02 16:11] sobrinho commented on #71
Cool, it worked.

Any chance to make both works in the same node version? I'm using nvm but it is odd to use two versions for one project.

I'm not really a node developer and I haven't researched Leon's code yet so I'm not aware of all details but is this feasible or something that we shouldn't be looking at all?

[2019-04-02 22:31] louistiti commented on #71
I'm happy it worked.

Unfortunately I've already tried to find a workaround and it seems to be the only way I know until now.

However, it seems there is [a PR](https://github.com/Kitt-AI/snowboy/pull/537) for that on the Snowboy GitHub repository. Let's watch it and update it once they merged it. If it takes too long time, I'll consider doing a fork.

[2019-04-02 23:28] louistiti commented on #71
![](https://github.trello.services/images/mini-trello-icon.png) [⬆️ Upgrade hotword node to support > Node.js 8](https://trello.com/c/esdXJR8m/254-%E2%AC%86%EF%B8%8F-upgrade-hotword-node-to-support-nodejs-8)

[2019-04-03 13:47] iifeoluwa commented on #69
Hi @louistiti, I encountered some hiccup testing this module and was hoping you'd have some pointers.

Following the instructions in the docs, I tried running this;

`PIPENV_PIPFILE=bridges/python/Pipfile pipenv run python bridges/python/main.py en checker isitdown "Check github.com is up"`

But what I got was this error;

`Traceback (most recent call last):
  File "bridges/python/main.py", line 4

[2019-04-03 19:15] marrodeur commented on #72
Ok merci , j'ai essayé les deux méthodes, mais non. Marche pas. Il faut installer leon avec python3 ou l'on peux changer python et python3 apres l'installe. C'est pas explicite pour moi. J'ai essayer de faire un sudo nano pour modifier le bach avec la technique de l'alias mais apres redemarrage c'est revenu sur python2. c'est chiant.(Apres je suis pas né linuxien je viens plus du coté windows) je

[2019-04-03 23:56] louistiti opened #73 "Upgrade ESLint and Jest for dependencies vulnerabilities"
### Expected Behavior

No vulnerabilities caused by `js-yaml`.

### Actual Behavior

`js-yaml` is having a DoS vulnerability.

### Proposal

Upgrade ESLint and Jest.

- https://github.com/istanbuljs/istanbuljs/pull/339
- https://github.com/eslint/eslint/pull/11550

[2019-04-03 23:57] louistiti commented on #73
![](https://github.trello.services/images/mini-trello-icon.png) [⬆️ [1.0.0-beta.2] ESLint and Jest for dependencies vulnerabilities](https://trello.com/c/m3RUx35y/255-%E2%AC%86%EF%B8%8F-100-beta2-eslint-and-jest-for-dependencies-vulnerabilities)

[2019-04-03 23:58] louistiti commented on #69
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 [1.0.0-beta.2] Improve NLU for more detailed queries](https://trello.com/c/xrofGezn/150-%F0%9F%94%A7-100-beta2-improve-nlu-for-more-detailed-queries)

[2019-04-04 00:19] louistiti commented on #69
I've recently updated the module execution from the Leon's brain. Leon now uses a file instead of using the args.

The standalone module execution works like this:

[code]

And the JSON file will depend of the module you are executing, so for the Is It Down module, it should looks like this:

[code]

In your case, the entities that may be extracted from a query are email addresses. As Leon use NLP

[2019-04-04 00:28] louistiti commented on #72
*English translation*

Please give me the output of:

[code]

--

*Traduction française*

Merci de me donner le résultat de ceci :

[code]

[2019-04-04 07:50] marrodeur commented on #72
root@odroid:~# cd bridges/python
-bash: cd: bridges/python: No such file or directory
root@odroid:~# pipenv run python --version
Warning: the environment variable LANG is not set!
We recommend setting this in ~/.profile (or equivalent) for proper expected behavior.
Creating a virtualenv for this project...
Pipfile: /root/Pipfile
Using /usr/bin/python (2.7.15rc1) to create virtualenv...
? Creating

[2019-04-04 10:21] louistiti commented on #73
ESLint has been upgraded via https://github.com/leon-ai/leon/commit/26b58dbe1bcb19e2c72b85b50c020cb80f77d276.

[2019-04-04 10:35] louistiti commented on #72
You need to go to the `bridges/python` directory from the Leon project root, then run `pipenv run python --version`.

[2019-04-04 13:07] marrodeur commented on #72
Ok je comprend.

`root@odroid:/leon/bridges/python# pipenv run python --version
Warning: the environment variable LANG is not set!
We recommend setting this in ~/.profile (or equivalent) for proper expected behavior.
Creating a virtualenv for this project...
Pipfile: /leon/bridges/python/Pipfile
Using /usr/bin/python3 (3.6.7) to create virtualenv...
? Creating virtual environment...Using base pref

[2019-04-04 13:11] louistiti commented on #72
OK, then now, from the project root directory, do:

1. `npm install`
2. `npm run check`

And paste the result here.

[2019-04-04 13:17] marrodeur commented on #72
Non pas bon

[code]

[2019-04-04 13:22] louistiti commented on #72
Please paste the result of: `npm run postinstall`

[2019-04-04 13:22] marrodeur commented on #72
Si j'ai bien compris c'est que leon ne se lance pas ou ne fonctionne pas avec la bonne version de python? C'est python2 qui est solicité au lieu du 3?
On ne peux pas dire à leon d'utiliser python3 en modifiant le fichier de configuration?

[2019-04-04 13:23] marrodeur commented on #72
[code]

[2019-04-04 13:37] marrodeur commented on #72
J'avance:

[code]

[2019-04-04 13:41] marrodeur commented on #72
_logs

[code]

[2019-04-04 13:44] louistiti commented on #72
Your Leon was not correctly installed, it seems the `npm run postinstall` helped to move forward.

Can you give me the specs of your OS?

[2019-04-04 13:47] marrodeur commented on #72
https://wiki.odroid.com/odroid-xu4/odroid-xu4

[2019-04-04 14:02] louistiti commented on #72
It seems the this FFMPEG Node.js binding does not support ARM architectures as we can see here https://github.com/kribblo/node-ffmpeg-installer/issues/22.

This is something I'll need to investigate later on to support such architectures.

[2019-04-04 14:04] louistiti commented on #72
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 Compatibility with ARM architectures and test on Pis](https://trello.com/c/CxRNbLHQ/256-%F0%9F%94%A7-compatibility-with-arm-architectures-and-test-on-pis)

[2019-04-04 14:06] louistiti commented on #28
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 Compatibility with ARM architectures and test on Pis](https://trello.com/c/CxRNbLHQ/256-%F0%9F%94%A7-compatibility-with-arm-architectures-and-test-on-pis)

[2019-04-04 14:09] louistiti commented on #72
I'm gonna close this issue as the original topic has been answered.

[2019-04-04 14:09] #72 closed

[2019-04-04 14:11] marrodeur commented on #72
Ok je peux essayer sur un RPI1B?

[2019-04-04 14:14] louistiti commented on #72
You can try, but not sure if it'll work.

Please open another issue related to the result you got. We'll need to work on it later.

Which kind of hardware similar as a Raspberry Pi do you have with you? I'll help to have feedback regarding that :smiley:

[2019-04-04 14:17] marrodeur commented on #72
Juste ces deux machines la.
Merci je reviendrais faire un rapporta ce sujet. ;D

[2019-04-05 07:54] louistiti commented on #69
I've edited the docs, you can take a look [here](https://docs.getleon.ai/packages-modules.html#create-a-module) :smiley:

Let me know if you have any questions.

[2019-04-05 07:57] louistiti commented on #2
The docs according to those changes has been published. Most of the essentials information can be found in [this part](https://docs.getleon.ai/packages-modules.html#query-object-entities).

[2019-04-05 08:45] iifeoluwa commented on #69
Great, thanks!

[2019-04-08 08:59] bosen365 opened #78 "Train module can support other NLP plugins"
Hi  Louis

### Expected Behavior
I wanna the "Train.js" module can support multi NLP plugins,  e.g. HanLP etc.

### Actual Behavior
the "Train.js" module uses node-nlp library, it can't support Chinese very well
### Proposal
It can support Chinese.😆

[2019-04-08 14:11] hankcs commented on #78
That would be great. There are [nodejs](https://github.com/beyai/node-hanlp) and [python](https://github.com/hankcs/pyhanlp) language bindings for HanLP.

[2019-04-10 11:34] louistiti commented on #78
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Support several NLP solutions](https://trello.com/c/EVS4M6YL/261-%E2%9C%A8-support-several-nlp-solutions)

[2019-04-10 11:34] louistiti commented on #78
Hello @bosen365,

Thanks for suggesting. It is a good one! I added it to the [roadmap](https://roadmap.getleon.ai).

@hankcs, awesome, it'll help!

[2019-04-12 21:52] mbwhite commented on #28
Hi, will see if  this is something I can test out...

[2019-04-13 00:58] louistiti commented on #28
Hello @mbwhite,

Awesome, keep us updated when you have something 😃

[2019-04-14 01:11] louistiti commented on #3
The Product Hunt module is done and [merged](https://github.com/leon-ai/leon/commit/99b4d838e4560f76d824e14eeddcb183562d19b6) into [develop](https://github.com/leon-ai/leon/tree/develop).

[2019-04-14 01:11] #3 closed

[2019-04-16 00:08] louistiti commented on #70
I close this issue as an answer has been provided.

[2019-04-16 00:08] #70 closed

[2019-04-16 00:08] louistiti commented on #68
I close this issue as an answer has been provided.

[2019-04-16 00:08] #68 closed

[2019-04-16 00:38] louistiti commented on #73
I updated the npm lock file (`package-lock.json`) in https://github.com/leon-ai/leon/commit/26d0d61fca64cc4560d88e82516ff5a17333cd10. It is now fixed.

[2019-04-16 00:38] #73 closed

[2019-04-18 20:21] mbwhite commented on #28
@louistiti My notes so far :-)
https://gist.github.com/mbwhite/2de7326d4680591101a27a53315a11b8

Aside: are gitissues the best way to communicate?

[2019-04-18 21:18] Shrubhog commented on #28
@mbwhite I don't think Leon supports 3.7 right now. I took forever to figure it out until I found #6. The [Trello Card](https://trello.com/c/ezmGfIkL/216-%E2%AC%86%EF%B8%8F-upgrade-to-the-latest-python-version) for 3.7 is still in the backlog. Sorry if you already knew, or if I have interrupted something.

[2019-04-19 00:20] louistiti commented on #28
@mbwhite @Shrubhog thanks for your notes. However, today Leon only supports `3.6` as mentioned in the [README](https://github.com/leon-ai/leon#prerequisites) and the [docs](https://docs.getleon.ai/#prerequisites).

For the moment I think it's better to centralize the communication channels on GitHub until some milestones are reached. I plan anyway to create a Discord for Leon later.

[2019-04-19 07:49] mbwhite commented on #28
@Shrubhog @louistiti no problem; I'd made the assumption that it was python3.6 or greater; just kicked off the python3.6 build now. At least I'm now more familiar with building python so that's one good thing

[2019-04-19 15:04] louistiti commented on #28
Happy to see it's working!

What's your hardware specs?

[2019-04-24 00:11] louistiti opened #81 "Context"
### Feature Use Case
Add context to be able to do "n - x" and act according to what is said few sentences ago.

### Feature Proposal
Having a "bag" system or something similar with a limit X to be able to pick up sentences in the past.

[2019-04-24 00:12] louistiti commented on #81
![](https://github.trello.services/images/mini-trello-icon.png) [✨ [1.0.0-beta.3] Context](https://trello.com/c/GmbWXd3e/264-%E2%9C%A8-100-beta3-context)

[2019-04-24 12:14] vitaly-zdanevich opened #82 "Please add information about text-to-speech"
What engine are use using?

[2019-04-24 13:36] louistiti commented on #82
Hello @vitaly-zdanevich,

Thanks for opening this issue. Everything is already mentioned in [the docs](https://docs.getleon.ai/configuration.html#voice). And more should come later as you can see on [the roadmap](https://trello.com/c/lEZG0VYS/259-%E2%9C%A8-take-a-look-to-implement-a-new-offline-tts).

Does it reply your question?

[2019-04-25 15:59] Immortalin commented on #43
For simple use there's wttr.in

[2019-04-25 16:01] Immortalin commented on #45
Does the Marketplace have to do dependency resolution and versioning too?

[2019-04-25 16:03] Immortalin commented on #32
Would be great if the client can be kept independent of browser i.e. Just a webpage with option of Electron. Helps keep things lightweight on resource constrained devices.

[2019-04-25 18:27] vitaly-zdanevich commented on #82
Oh, sorry, just did not found it in README.md.

[2019-04-25 18:27] #82 closed

[2019-04-26 00:01] louistiti commented on #43
Hello @Immortalin,

Thanks for sharing! It seems to use [wego](https://github.com/schachmat/wego) for the data sources, which means it is using OpenWeatherMap, etc. Better to directly pull data from the sources instead of having another layer between.

[2019-04-26 16:10] mbwhite commented on #7
As a reference I had exactly the same issue - and I think it was triggered by dropping back to python3.6 from python3.7.

My solution was to clean out the the python venv and reinstall the python3-distutils

[code]

[2019-04-26 16:13] mbwhite commented on #28
Ah well I spoke too soon, one of the Watson packages had an issue with platform compatibility.
So I've opted to go my desktop Ubuntu - and make sure that I'm familiar with Leon's setup.

It was a Raspberry Pi 3 Model B...

[2019-04-26 20:18] mbwhite commented on #37
I've started on some notes here...
https://gist.github.com/mbwhite/2de7326d4680591101a27a53315a11b8

At present though I want to learn more about how Leon is working on vanilla ubuntu before heading back to the PI.

[2019-04-26 20:20] mbwhite opened #83 "Watson STT & TSS Failures"
### Specs

- Leon version: master branch
- OS (or browser) version: Ubuntu 18
- Node.js version: 10
- Complete "npm run check" output:
- (optional) Leon package version:

### Expected Behavior

### Actual Behavior
✖ Watson STT: Error: Insufficient credentials provided in constructor argument. Refer to the documentation for the required parameters. Common examples are username/password, api_key, an

[2019-04-26 20:55] mbwhite commented on #83
Can confirm this is resolved on the dev branch.

[2019-04-26 20:55] #83 closed

[2019-04-27 05:07] louistiti commented on #69
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Checker Package - Have I Been Pwned Module](https://trello.com/c/8zUohuMG/104-%E2%9C%A8-checker-package-have-i-been-pwned-module)

[2019-04-27 05:09] louistiti commented on #69
Done in https://github.com/leon-ai/leon/pull/80.

[2019-04-27 05:09] #69 closed

[2019-04-27 10:04] louistiti commented on #28
Alright, thanks for saying.

[2019-04-27 13:02] deepdream88 opened #84 "can support Chinese? Can training to identify local languages?"
First of all, thank you for your contribution to open source. I would like to ask if the project can support Chinese? Can training to identify local languages?

[2019-04-27 18:29] gnouf1 opened #85 "I cant install Leon ELIFECYCLE ERROR (Node.js 12)"
### Specs

- Leon version: beta 2 1.0.0
- OS (or browser) version: Ubuntu (the last at this day)
- Node.js version: 12.0.0
- Complete "npm run check" output:
[code]

- (optional) Leon package version: No package

### Expected Behavior

I ran `npm install` and it's crash during the installation :/

The error is :
[code]

[2019-04-27 23:51] louistiti commented on #84
Hello @deepdream88,

Thanks for opening that issue and for your support.

Today Leon support English and French languages but I plan to also let him support other languages such as Chinese in the future. So stay tuned 😉

Does it reply to your question?

[2019-04-28 00:03] deepdream88 commented on #84
oh,thank you for your reply

[2019-04-28 00:06] louistiti commented on #84
You are very welcome. I'm going to close this issue as the answer has been provided.

Do not hesitate to reopen it or open a new one if necessary.

[2019-04-28 00:06] #84 closed

[2019-04-28 00:35] louistiti commented on #85
Hello @gnouf1,

Thanks for reporting!

Indeed, Leon failed while installing with Node.js `12`. It seems to be due to gRPC, they working on it now according to this issue https://github.com/grpc/grpc-node/issues/834.

In the meantime, you can switch back to Node.js `10` or Node.js `11`.

[2019-04-28 00:37] louistiti commented on #85
![](https://github.trello.services/images/mini-trello-icon.png) [🐞 [1.0.0-beta.3] Fails on Node.js 12](https://trello.com/c/ff5WimFw/267-%F0%9F%90%9E-100-beta3-fails-on-nodejs-12)

[2019-04-28 01:13] gnouf1 commented on #85
Thanks you !
It's fix now !

[2019-04-28 11:27] louistiti commented on #85
I let the issue open until it is fixed under Node.js `12`.

[2019-04-28 12:31] gnouf1 commented on #85
For change node.js version i install `nvm`
And :
[code]

[2019-04-28 13:08] FEAR6 opened #86 "Python version"
### Question
Does anyone know how to solve this problem?
I have installed python 3.6.7 on my server(Linux version 4.18.0-10-generic (buildd@lgw01-amd64-060) (gcc version 8.2.0 (Ubuntu 8.2.0-7ubuntu1)))
But I cannot pass the "npm run check"

The error information is showed on the picture.
![Selection_012](https://user-images.githubusercontent.com/46835808/56864810-8b847e00-69f9-11e9-9ebf-75bdb40b27

[2019-04-28 17:46] Shrubhog commented on #86
Are you starting the pipenv with the Python3 executable?

[2019-04-28 22:46] louistiti commented on #86
Hello @FEAR6,

Thanks for opening that issue. As the screenshot mentioned, Leon supports Python `3.6`, so you need to install this version of Python instead of the `3.7`. It is mentioned in [the prerequisites](https://docs.getleon.ai/#prerequisites) also.

Does it help?

[2019-04-28 23:09] louistiti commented on #85
For reference, the dependencies tree regarding gRPC on Leon is as followed: [`@google-cloud/speech`](https://github.com/leon-ai/leon/blob/develop/package.json#L52) > [`google-gax`](https://github.com/googleapis/nodejs-speech/blob/master/package.json#L46) > [`grpc`](https://github.com/googleapis/gax-nodejs/blob/master/package.json#L16).
`@google-cloud/speech` is used for the folks who want to use G

[2019-04-30 00:19] louistiti commented on #85
Quick update:

- `grpc` released the Node.js `12` support with the [`1.20.2`](https://github.com/grpc/grpc-node/releases/tag/grpc%401.20.2).
- `google-gax` already [bumped](https://github.com/googleapis/gax-nodejs/commit/6693d5d3d03070e113b85f626aec22d52d5c4921) the gRPC version. We need to wait until they publish it on npm.
- Then we'll need to wait for [`nodejs-speech`](https://github.com/google

[2019-04-30 14:12] zmpetro opened #87 "npm run docker:run fails on Windows Docker hosts - no /etc/timezone"
### Specs

- Leon version: Any / latest
- OS (or browser) version: Windows 10
- Node.js version: 10
- Complete "npm run check" output:
- (optional) Leon package version:

### Expected Behavior
```npm run docker:run``` runs Leon on Windows Docker hosts.

### Actual Behavior
```npm``` returns an ```ELIFECYCLE``` error. This is because the ```docker:run``` script in ```package.json``` sets the timezo

[2019-04-30 23:54] louistiti commented on #87
Hello @zmpetro,

Thanks for opening this issue.

Could you please which of those following way work?
1. By using [Cygwin](https://www.cygwin.com/).
2. By setting up manually your timezone in the `package.json` file as follow:
[code]
3. By replacing the run command in the `package.json` file, like so:
[code]
    and adding that at the line 12 of the `Dockerfile`:
[code]

[2019-05-01 00:28] zmpetro commented on #87
Hello @louistiti,

I did not try the first method, but methods 2 and 3 both work. I would have submitted a pull request but I thought I would let you guys handle it.

Let me know if you need any help.

Regards,
zmpetro

[2019-05-01 03:50] louistiti commented on #87
Got it, thanks for saying!

Could you please try to run with the following command?

[code]

[2019-05-01 08:35] louistiti commented on #16
Browsersync has [been upgraded](https://github.com/leon-ai/leon/commit/0d70387ba3a99a9b40605feed56e513ff1e80618). Now `2 low severity vulnerabilities` left.

- It seems an update to Babel 7+ will be necessary: https://github.com/babel/babel/pull/9550.
- Still waiting for the merge: https://github.com/jest-community/jest-extended/pull/198.

[2019-05-02 01:45] zmpetro commented on #87
Hello @louistiti,

Running the following command:

```docker run -e TZ=UTC -d -p 1337:1337 -it leonai/leon```

works as intended and sets the time in the container to UTC. If I shell into the container and run ```date```, it outputs the time and date in UTC.

[2019-05-03 01:13] louistiti commented on #87
![](https://github.trello.services/images/mini-trello-icon.png) [📝 [1.0.0-beta.3] Docker run on Windows](https://trello.com/c/ow9zGDa8/271-%F0%9F%93%9D-100-beta3-docker-run-on-windows)

[2019-05-03 01:13] louistiti commented on #87
Alright, thanks for your help!

I've updated the docs https://github.com/leon-ai/docs.getleon.ai/commit/840e775d18d89f1e2ad8077ca199a83a9a1a0ae8; https://github.com/leon-ai/leon/commit/f05d155f1b82dd2fd29c5b8fcca16868e8d30e40.

Do not hesitate to report if necessary.

[2019-05-03 01:13] #87 closed

[2019-05-03 02:29] louistiti commented on #85
New update:

- `google-gax` published on [npm](https://www.npmjs.com/package/google-gax).
- `nodejs-speech` bumped the `google-gax` to `0.26.0`. We're now waiting for them to publish on [npm](https://www.npmjs.com/package/@google-cloud/speech).

[2019-05-03 15:46] louistiti opened #88 "Modules actions"
### Feature Use Case

Having the possibility to query a module for multiple purposes/actions:
[code]

Basically, Leon will format it in this way:
[code]

### Feature Proposal

Add another level called `actions` to the `packages > modules` tree. Which will look like: `packages > modules > actions`.
An action represents the entry point of our main module function.

It's still a work in progress, but

[2019-05-03 15:47] louistiti commented on #88
![](https://github.trello.services/images/mini-trello-icon.png) [✨ [1.0.0-beta.3] Modules actions](https://trello.com/c/C9iOYnLW/272-%E2%9C%A8-100-beta3-modules-actions)

[2019-05-04 02:41] louistiti commented on #88
![High-Level Architecture](https://user-images.githubusercontent.com/1731544/57172894-1087f100-6e59-11e9-8b8a-2f4977e3028a.png)

[2019-05-04 07:27] louistiti commented on #88
Alright, I've implemented the modules actions (cf. https://github.com/leon-ai/leon/commit/232efad74c74f9a2e23daf2aeb10e85f873b59bb) and updated the docs :tada:

[2019-05-04 07:27] #88 closed

[2019-05-04 07:30] louistiti commented on #88
![](https://github.trello.services/images/mini-trello-icon.png) [✨ [1.0.0-beta.3] Calendar Package](https://trello.com/c/2JhWggjD/56-%E2%9C%A8-100-beta3-calendar-package)

[2019-05-04 07:34] louistiti commented on #42
I've started to work on it by introducing the [modules actions](https://github.com/leon-ai/leon/issues/88).

[2019-05-04 14:51] kominoshja opened #89 "Monica CRM integration"
Monica is an open source tool to organize the interactions with your loved ones.
Their code is here: https://github.com/monicahq/monica
I think it would be great to integrate Leon with Monica, allowing you to ask Leon things like:

### Feature Use Case
* Leon, when is NAME's birthday? (Leon, when is Percy's birthday?)
* Leon, tell Monica I ACTIVITYNAMEHERE with NAME today (Leon, tell Monica I hang

[2019-05-04 14:54] kominoshja commented on #42
Quick question: Is the calendar package going to use DAV? That would allow integration with tools like Nextcloud Calendar

[2019-05-04 14:56] kominoshja commented on #34
For commands like

It might be better to integrate with tools such as [OpenHAB](https://www.openhab.org/)?

[2019-05-04 15:01] kominoshja opened #90 "Mobile App"
This issue is very similar to https://github.com/leon-ai/leon/issues/32

Are there plans to support a native experience on the Android &/ iOS?
By doing things such as holding the home button and have Leon respond?

[2019-05-04 15:05] kominoshja opened #91 "Kodi integration"
Kodi is a free media player that is designed to look great on your big screen TV but is just as home on a small screen.

### Feature Use Case
* Leon, play Family Guy Season 7 Episode 2
* Leon, pause playing
* Leon, enable subtitles

### Feature Proposal
I'm assuming that this would require a Kodi add-on to enable the communication aswell

[2019-05-04 15:06] louistiti commented on #42
Thanks for suggesting! This is definitely something we can keep in mind and can be added on the top.

[2019-05-04 15:12] kominoshja opened #92 "MagicMirror² integration"
MagicMirror² is an open source modular smart mirror platform. With a growing list of installable modules, the MagicMirror² allows you to convert your hallway or bathroom mirror into your personal assistant. http://magicmirror.builders

### Feature Use Case
* Leon, show me my notes
* Leon, disable MODULE name for my mirror
### Feature Proposal
Maybe we can use MagicMirror² as a display for results

[2019-05-04 15:15] louistiti commented on #34
Not sure that OpenHAB will be used or not. For the moment I would consider to implement a whole dedicated system for Leon. I've added few notes on the [roadmap](https://trello.com/c/z90vLWMY/258-%E2%9C%A8-iot) that you can check it out.

[2019-05-04 15:26] louistiti commented on #89
Hello @kominoshja,

Thanks for suggesting. Such integrations will require to create several modules according to the needs. Like the birthday module, and setup the API token.

That's for sure something we can do 😃

[2019-05-04 15:37] louistiti commented on #90
Hello @kominoshja,

Thanks for opening this issue. There is for sure plans for a mobile app as you can see on the [roadmap](https://trello.com/c/I4covM3r/45-%F0%9F%93%9D-github), but regarding the home button researches will need to be made 😄

[2019-05-04 15:39] kominoshja commented on #90
Great! I'm closing this issue then until we start working on the mobile app :)

[2019-05-04 15:39] #90 closed

[2019-05-04 15:44] louistiti commented on #91
Hello @kominoshja,

Thanks for suggesting. Let's keep it here and work on it later, but that will be doable after the next few [`1.0.0-beta.3` milestones](https://github.com/leon-ai/leon/milestone/3).

[2019-05-04 15:49] louistiti commented on #92
Hello @kominoshja,

Thanks for suggesting again! To jump into that topic, we first need to handle that one https://github.com/leon-ai/leon/issues/37. Then we'll consider it depending of how MagicMirror² has been made,

[2019-05-04 15:53] Shrubhog commented on #37
I have an older Raspberry Pi to test this on, and I could test it once I get back from traveling at the moment. I had a newer Pi 3, like @mbwhite's but I broke an I/O component while testing the GPIO pins.

[2019-05-04 15:57] louistiti commented on #37
Nice! Looking forward to see that then.
I'll also need to jump into that topic later on.

Enjoy your trip! 😄

[2019-05-04 15:58] kominoshja commented on #37
I'm planning to write a blog about installing Leon on Ubuntu 18.04 if that helps anyone

[2019-05-04 16:00] Shrubhog commented on #37
@kominoshja, as I always run into one error and another, It'd be much appreciated. Thanks!

[2019-05-04 16:05] louistiti commented on #37
@kominoshja awesome, let us know once you are done with it, I'll add the blog post link to the [How-To](https://docs.getleon.ai/how-to) section of the docs.

@Shrubhog oh really, do not hesitate to open issues then 😉

[2019-05-05 20:40] Shrubhog commented on #37
I have started building and installing Leon's dependencies. My notes can be found [here](https://gist.github.com/Shrubhog/12c5fdd7da6aca8758c2c21ae61f5443). I have also diagnosed the issue with the Pi 3 and might fix it and test Leon there as well.

[2019-05-05 21:46] Shrubhog commented on #37
I will clone the `latest` branch first.

[2019-05-05 22:58] Shrubhog commented on #37
It seems my Pi does not have enough space to support it right now. I'll try deleting some other files later.

[2019-05-05 23:11] louistiti commented on #37
Hello @Shrubhog,

Alright, thanks for keeping us updated and for handling it!

[2019-05-05 23:53] louistiti commented on #86
I close that one as the answer has been provided.

[2019-05-05 23:53] #86 closed

[2019-05-09 08:36] gnouf1 opened #93 "How can we change the language ?"
Hi !
I'm french and when i see Leon can read and understand french, so how can I change his language ?

thanks,

[2019-05-09 23:10] louistiti commented on #93
Hello @gnouf1,

Thanks for opening this issue. You can

[2019-05-09 23:13] louistiti commented on #93
Hello @gnouf1,

Thanks for opening this issue. To do so, you need to change the `LEON_LANG` environment variable, you can find this variable in your `.env` file located at the project root directory. You can see more in [the docs](https://docs.getleon.ai/configuration.html#environment-variables).

I've updated the docs to make it more explicit https://github.com/leon-ai/docs.getleon.ai/commit/bc0d

[2019-05-11 14:41] SuperSandro2000 opened #96 "Docker container produces js error"
### Specs

- Leon version: 1.0.0-beta.3
- OS (or browser) version: Ubuntu 18.10 Docker
- Node.js version: 10-alpine
- Complete "npm run check" output:

[code]

### Expected Behavior

Load something

### Actual Behavior

JS error

### How Do We Reproduce?

1. ``docker build -t leon .``
2. ``docker run -p 1337:1337 leon``
3. Navigate to the host ip of the machine and port 1337. eg: ``10.0.0.1:1337``

[2019-05-11 15:50] louistiti commented on #62
I've finished to implement the named entity recognition and the tests are written :tada:

Now I will:
1. Update the docs.
2. Create the To-Do List module.

You can find more info [over here](https://github.com/leon-ai/leon/commits/nlp-ner).

[2019-05-12 00:10] louistiti commented on #96
Hello @SuperSandro2000,

Thanks for opening this issue. Could you please tell me which Dockerfile are you using? Is that the one from your PR or the existing one?

I don't think that will make a big difference, but I just want to ensure we use the same things to reproduce that case.

[2019-05-12 00:39] louistiti commented on #96
I believe it is a [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) issue.

1. Change the the environment variables `LEON_SERVER_HOST` and `LEON_WEBAPP_HOST` located in your `.env.sample` file (that file will duplicate a `.env` file) by replacing the value by the host IP of your machine.
2. Then build and run again.

I've just tried, and as you can see on the screenshot, I was able to

[2019-05-12 07:16] SuperSandro2000 commented on #96
I used the one from my PR but they should be the same and if not I need to fix mine.

Changing the env file fixed it. Maybe this should be clarified in the docs.

[2019-05-12 07:48] SuperSandro2000 opened #97 "MediaDevices.getUserMedia() is not supported on your browser"
### Specs

- Leon version: 97311aa1b4a51a82e2532ac91bfa6a3570b89dff
- OS (or browser) version: Ubuntu 18.10 Docker-CE
- Node.js version: 10-alpine
- Complete "npm run check" output:
- (if using Docker) Complete "npm run docker:check" output:
[code]
- (optional) Leon package version:

### Expected Behavior

Ask me for permission to access my mic

### Actual Behavior

main.js:469 MediaDevices.getUse

[2019-05-12 23:59] louistiti commented on #96
Perfect.

I've updated the docs by adding a tip in the [web app client section](https://docs.getleon.ai/clients.html#web-app) and by specifying it at the [environment variables section](https://docs.getleon.ai/configuration.html#environment-variables) of the configuration page.

I'm gonna close this issue as it is all good now.

[2019-05-12 23:59] #96 closed

[2019-05-13 00:29] louistiti commented on #97
Hello @SuperSandro2000,

Thanks for opening this issue. I've tried to reproduce the issue, the only moment I get an error is when I have already disallowed at first the access to my mic (which is normal). But once I click on the [camera icon](https://i.gyazo.com/4710ac95974e29d94582124448826dd4.png) then check `Always allow ... to access your microphone`, then refresh the page and the error is gon

[2019-05-15 10:25] FEAR6 commented on #86
I'm Very sorry for delayed response.

I do install python 3.6, not python 3.7.
And in the whole process, I only use python, not python 3

[2019-05-15 10:27] FEAR6 commented on #86
Sorry about my delayed reply.  I used python, not python3

[2019-05-15 10:47] FEAR6 commented on #86
I think I found the question. Python version in "pipenv run python" is different from that in "python"
![Selection_014](https://user-images.githubusercontent.com/46835808/57770005-e6c8a700-7741-11e9-837e-83629069f0d6.png)
![Selection_015](https://user-images.githubusercontent.com/46835808/57770007-e7613d80-7741-11e9-870b-65af7b9249be.png)

I need to change the python version in "pipenv run python"

[2019-05-15 17:01] SuperSandro2000 commented on #97
I don't have such icon on the right of the address bar and on the top left in the drop down menu with permissions is nothing either.

I have a mic connected that works flawlessly with Discord.

[2019-05-15 23:04] louistiti commented on #93
I close this issue as an answer has been provided.

[2019-05-15 23:04] #93 closed

[2019-05-18 01:08] louistiti commented on #97
Alright, I think I've found the origin of the problem, it should be related to [this](https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins).

Chrome disables features such as `getUserMedia` when it comes from an unsecured origin. `http://localhost` is considered as a secure origin by default, however if you use an origin that does not

[2019-05-18 13:31] louistiti commented on #62
I've updated the docs regarding [the entities](https://docs.getleon.ai/packages-modules.html#entities).

[2019-05-19 13:18] SuperSandro2000 commented on #97
I tried to get it running with Traefik like all other container I use and damn it was a hassle.

First of all your app does not play nice with reverse proxies. I needed to change the leons server port to ``80`` or it wouldn't grab ``https://leon.example.de:1337/v1/info``. My suggestion is to not grab it from the full URL but from a relative one.

Then I had some trouble with the ``.env`` file and

[2019-05-20 00:26] louistiti commented on #97
I've made a few changes under [that branch](https://github.com/leon-ai/leon/tree/reverse-proxy-improvement).

Please let me know your thoughts.

[2019-05-20 06:32] SuperSandro2000 commented on #97
* I still needed to change ``.env.sample`` and it did not pick up ``.env``.
* You need to add doc about the new protocol infront of the host
* It should not try to do this
[code]
I don't know what the smartest idea is cause I don't do web dev but the ``:80`` should probably go.
* and I still don't like that it needs the host where it runs. Can't it just take relative paths instead of absolute ones

[2019-05-20 06:38] louistiti commented on #97
Alright, I'll take a look at that.

Maybe you can help by contributing? I do not use Docker and Kubernetes that much today.

[2019-05-20 11:20] agrawalsmart7 opened #98 "No module named 'tinydb'?"
Hi,

I have successfully imported tinydb with pip but still facing the error.

The full error was:-

[code]
For debugging, I tried to execute that command separately.

` C:\Windows\system32\cmd.exe /q /s /c "pipenv run python bridges/python/main.py scripts/assets/query-object.json"`

And successfully got the results. But It is not working with `npm run check`

Thanks

[2019-05-20 11:27] louistiti commented on #98
Hello @agrawalsmart7,

Thanks for opening that issue. Please follow the issue template by explaining how you setup Leon and tell me what you are trying to do.

[2019-05-20 11:28] agrawalsmart7 commented on #98
Like as follows

1. npm install (worked)
2. npm run check (Causes that error.)

[2019-05-20 11:34] agrawalsmart7 commented on #98
Ohkay, I come to know why I am getting this. Its an error from Virtual environment.

See this:- `Courtesy Notice: Pipenv found itself running within a virtual environment, so it will automatically use that environment, instead of creating its own for any project. You can set PIPENV_IGNORE_VIRTUALENVS=1 to force pipenv to ignore that environment and create its own instead. You can set PIPENV_VERBOS

[2019-05-20 11:45] louistiti commented on #98
You do not need to do anything, it should do it during the setup already. Try by running `npm run postinstall`, it will setup Leon for you.

Also, I just pulled and setup Leon on a Windows machine, and it is working well. I'm wondering how you setup Leon.

Please provide the result of these commands:
[code]

[2019-05-20 12:31] agrawalsmart7 commented on #98
Hi Louis,

I can successfully run this. You can close this.
Thanks

[2019-05-20 12:33] louistiti commented on #98
Alright, do not hesitate to open another issue if you need to 😉

[2019-05-20 12:33] #98 closed

[2019-05-21 06:05] louistiti commented on #85
New update:

- `nodejs-speech` released their `3.0.0` on [npm](https://www.npmjs.com/package/@google-cloud/speech) and that supports Node.js `12`.
- However, DeepSpeech does not support Node.js `12` on its `0.4.1` version and the DeepSpeech `0.5.0` (which does support Node.js `12` cf. https://github.com/mozilla/DeepSpeech/pull/2073) one is still in alpha phase.

So now:
- We need to wait for DeepS

[2019-05-21 22:53] SuperSandro2000 commented on #97
``Hey! It seems you are going for a sleepless night, be careful.`` Got it working! pr ist here #99

I am looking into the speech stuff hopefully the next days and send PRs or open issues if I encounter new problems.

Btw where does leon store its data? We would need to add a volume for that one.

[2019-05-21 23:31] louistiti commented on #97
Awesome! And yeah as Leon said, be careful to not go for a sleepless night. I sent you an email to ask you a few questions regarding your use case.

Regarding the data topic, this part of the docs should answer your question.

I'm gonna close this issue as it has been solved, feel free to open a new ones.

[2019-05-21 23:31] #97 closed

[2019-05-21 23:36] louistiti commented on #97
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 [1.0.0-beta.3] Reverse proxy improvement](https://trello.com/c/rDyVxPEK/280-%F0%9F%94%A7-100-beta3-reverse-proxy-improvement)

[2019-05-29 08:37] ChangYunLei opened #100 "me：“hello” Leon：“ Sorry, you should teach me this request. You can teach me by creating a pull request.” me：“what？” Leon："Sorry, you should teach me this request. You can teach me by creating a pull request.""
### Question
me：“hello”
Leon：“ Sorry, you should teach me this request. You can teach me by creating a pull request.”
me：“what？”
Leon："Sorry, you should teach me this request. You can teach me by creating a pull request."

[2019-05-29 11:39] louistiti commented on #100
Hello @ChangYunLei,

Thanks for opening this issue. Please paste the whole result of the `npm run check` command.

[2019-05-29 12:10] ChangYunLei commented on #100
$ npm run check

⠋
---

.: CHECKING :.

✖ Error: Command failed: C:\Windows\system32\cmd.exe /q /s /c "pipenv --version"
'pipenv' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
���������ļ���

[2019-05-29 12:48] louistiti commented on #100
It seems you did not setup Pipenv, so you need to install it. Please see the [prerequisites](https://docs.getleon.ai/#prerequisites).

[2019-05-29 13:07] ChangYunLei commented on #100
ok ~~  Thank you very much for your positive response.

[2019-05-29 13:13] louistiti commented on #100
不客气朋友 ~

I'll close this issue, feel free to reopen it if you need to.

[2019-05-29 13:13] #100 closed

[2019-06-01 17:18] Sathiyarajan opened #101 "docker: Error response from daemon: pull access denied for leon, repository does not exist or may require 'docker login'."
### Specs

- Leon version: latest
- OS (or browser) version: Ubuntu 18.10
- Node.js version:
- Complete "npm run check" output:
- (if using Docker) Complete "npm run docker:check" output:
- (optional) Leon package version:

### Expected Behavior
docker image should be up and running
### Actual Behavior
docker: Error response from daemon: pull access denied for leon, repository does not exist or ma

[2019-06-03 00:43] gnouf1 opened #102 "Leon don't want to talk french, angry omelette du fromage"
### Specs

- Leon version: beta 3
- OS (or browser) version: Windows 10 but Leon on WSL Ubuntu 18
- Node.js version: 11
- Complete "npm run check" output:
[code]

### Actual Behavior
When i talk whit Leon in french it's crash

### How Do We Reproduce?
Talk french with Leon :p

### Extra (like a sample repo to reproduce the issue, etc.)
[code]

[2019-06-03 03:43] louistiti commented on #101
Hello @Sathiyarajan,

Thanks for opening this issue. Did you make sure you built the image at first before executing the run command?

[code]

[2019-06-05 20:57] astrowalker2013 opened #104 "configure option in docker"
Hello,

I try Leon and I succes to install by Docker
how ever I cannot change the option
i create a .env file and rebuit my docker but the option is not take account
How to do that ?

Thankd in advence

### Question

[2019-06-05 23:15] louistiti commented on #104
Hello @astrowalker2013,

Thanks for opening this issue. Indeed, with Docker you should edit the `.env.sample` file instead of the `.env` file. Because during the setup, with Docker the `.env` will be automatically replaced.

I will add this to the documentation or see if I can find an alternative to that.

Does it help?

[2019-06-05 23:23] louistiti commented on #102
Hello @gnouf1,

Thanks for opening that issue. What query are you doing in French? I'm not able to reproduce that bug for the moment.

[2019-06-06 00:00] gnouf1 commented on #102
I tried "Bonjour"
But none package work :/

[2019-06-06 00:05] louistiti commented on #102
In your `.env` file, did you correctly set the `LEON_LANG` to `fr-FR`?

[2019-06-06 00:34] gnouf1 commented on #102
Yes

[code]

[2019-06-06 01:05] louistiti commented on #104
![](https://github.trello.services/images/mini-trello-icon.png) [🐞 [1.0.0-beta.3] Take `.env` in consideration when using Docker](https://trello.com/c/Ih6oiUW9/283-%F0%9F%90%9E-100-beta3-take-env-in-consideration-when-using-docker)

[2019-06-06 01:11] louistiti commented on #104
I've made a fix for it https://github.com/leon-ai/leon/commit/d38e6095f9b71467b8486430fba4bb7007ec4c5a.

Please:
1. Pull the `develop` branch.
2. Edit your `.env` file if you already have one.
3. Run `npm run docker:build`
4. Run `npm run docker:run`

Your `.env` file should now be used instead of the `.env.sample` one.

You can take a look at this issue to know more about why that happened https:

[2019-06-06 15:53] louistiti commented on #102
Have you tried to create a new folder, clone the `develop` repository in it and rerun from there?

Also, please try with the basic setup without a specific host (just by using the default value `localhost`) to see if that changes something.

[2019-06-07 18:44] louistiti commented on #16
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 [1.0.0-beta.3] Remove minor dependencies vulns: back to 0 vuln](https://trello.com/c/OJ5HF0sr/287-%F0%9F%94%A7-100-beta3-remove-minor-dependencies-vulns-back-to-0-vuln)

[2019-06-07 18:48] louistiti commented on #16
Good news, I've:

- Made the upgrade to Babel 7+.
- Created [a fork](https://github.com/leon-ai/jest-extended) of the `jest-extended` package to get away from the vulnerability.

I'll close this issue now as we came back to 0 npm dependencies vulnerabilities. Feel free to create a new one if you spot a new one.

[2019-06-07 18:48] #16 closed

[2019-06-07 19:00] Imperator26 commented on #6
What do we need to do to support 3.7 as well?

[2019-06-07 22:44] gnouf1 commented on #102
I try on an different computer it's do same things :/

[2019-06-08 03:43] louistiti commented on #6
![](https://github.trello.services/images/mini-trello-icon.png) [🔧 [1.0.0-beta.3] Support for Python version >= 3](https://trello.com/c/Bg7Zl9Zf/288-%F0%9F%94%A7-100-beta3-support-for-python-version-3)

[2019-06-08 03:46] louistiti commented on #6
The reason why I preferred to have one dedicated Python version was due to Leon modules writing and backward compatibility.

But finally by adding the `pipenv --three` command in the Leon setup process, Pipenv will ensure to take the latest Python 3 version available on the machine. Today, I believe OSes have quite recent Python versions and people usually setup the latest Python version when it i

[2019-06-08 04:18] louistiti commented on #102
What OS are you running on this other computer?

[2019-06-08 05:04] louistiti commented on #71
A Snowboy version has been [released](https://github.com/Kitt-AI/snowboy/pull/537#issuecomment-497992487) to support Node.js 8+ :tada:

So I've made the changes for Leon (cf. https://github.com/leon-ai/leon/commit/b2a897032f3f3e594c9be5c0d3b0667f701e2bfa; https://github.com/leon-ai/leon/commit/5a7d369122d4d069d67b949d9e814a7e85d72ca2; https://github.com/leon-ai/docs.getleon.ai/commit/9ae2e8b9cb258

[2019-06-08 05:04] #71 closed

[2019-06-08 07:28] Imperator26 commented on #6
Makes sense to me

[2019-06-08 07:30] louistiti commented on #6
Alright, I'm gonna close this issue then.

Feel free to reopen it or create a new one if necessary.

[2019-06-08 07:30] #6 closed

[2019-06-08 08:58] gnouf1 commented on #102
Ubuntu

[2019-06-08 14:08] Imperator26 opened #105 "Testing a package"
### Specs

- Leon version: 1.0.0-beta.3
- OS (or browser) version: Firefox
- Node.js version: 10.16.0
- Complete "npm run check" output: Hooray! Leon can run correctly
- (if using Docker) Complete "npm run docker:check" output: nope
- (optional) Leon package version:

### Expected Behavior
I've written this package but leon is able to recognize only the first expression set even if I ask him somet

[2019-06-08 14:44] louistiti commented on #105
Hello @Imperator26,

Thanks for opening that issue and for creating a new package if I understood correctly.

Could you please give more context? What's the package for? What are you doing exactly (commands, etc.) to get this error?

[2019-06-08 15:02] gnouf1 opened #106 "utils.info()"
### Specs

- Leon version: 1.0.3
- OS (or browser) version: Windows 10 but Leon is under WSL ubuntu
- Node.js version: 11

### Expected Behavior
Return the info with utils.info()

### Actual Behavior
Crash when i use my module (weather) :
[code]

### How Do We Reproduce?
Juste add ``` language = utils.info()```

[2019-06-08 15:06] louistiti commented on #102
Ubuntu under Windows or a complete dedicated one?

Because I've tried several times to reproduce that, but it's always working here.

[2019-06-08 15:15] louistiti commented on #106
Hello @gnouf1,

I'm glad to see that you are digging into Leon, thanks for reporting.

Just for a try, in the `bridges/python/utils.py` file, could you please replace:

[code]

With:
[code]

And retry.

[2019-06-08 15:41] gnouf1 commented on #106
It's work ! :)

[2019-06-08 15:42] louistiti commented on #106
Alright, tomorrow I'll change that.

[2019-06-08 15:45] louistiti commented on #106
![](https://github.trello.services/images/mini-trello-icon.png) [🐞 [1.0.0-beta.3] utils.info() return query object data](https://trello.com/c/NBnagR6B/290-%F0%9F%90%9E-100-beta3-utilsinfo-return-query-object-data)

[2019-06-08 15:52] gnouf1 opened #107 "How old are you + cinema package"
### Feature Use Case
- How old are you ?
- What are new movies of this week ?

### Feature Proposal
One module "How old are you ? " and an cinema/serie package.
I have time so I can do both of them, can I ? :)

[2019-06-08 16:17] gnouf1 commented on #102
I tried on a new leon installation on my WSL and on an new installation on fully ubuntu one

[2019-06-08 16:26] astrowalker2013 commented on #104
Hello I test you proposition but I have an error
I pull the develope version I rebuild   a image of Leon with .env file but LEON doesnt launch

![image](https://user-images.githubusercontent.com/32897635/59149784-67658500-8a1a-11e9-99ac-05db36f6bf71.png)
my .env file is like

`LEON_LANG=fr-FR
LEON_TTS=true
`
Best

[2019-06-08 16:33] Imperator26 commented on #105
Yes I'm working on a simplier weather package myself. You can check it out at [my fork](https://github.com/Imperator26/leon)

[2019-06-08 16:47] astrowalker2013 commented on #104
I Understand the Issue, in my env file it miss other parmater
I think it's important to have a sample file to help  the body to configure the application .

I create a personal env file with the doc and if you want I push on the project the envfile ?
https://docs.getleon.ai/configuration.html#environment-variables
Is it enough or it miss other variable.

[2019-06-08 22:59] louistiti commented on #107
Hello @gnouf1,

Thanks for your suggestions!

I'll soon work on the "How Old" module under the "Leon" package. But feel free to kick off the "TV" package. I've noted [some ideas](https://trello.com/c/JB5gdQrV/61-%E2%9C%A8-tv-package) on the roadmap.

[2019-06-08 23:05] gnouf1 commented on #107
Yes i see ideas on your trello ;p
In parallel with this module I will probably work on the trust website module :) (i see somebody open an issue). If it's ok for you :)

[2019-06-08 23:06] gnouf1 commented on #60
If nobody is on it i will work on it :)

[2019-06-08 23:18] louistiti commented on #104
Hello @astrowalker2013,

There is already a sample file: `.env.sample`. The `.env` file is generated during the setup of Leon based on the `.env.sample` one.

Since the last time, I've made some work on those files, please:
1. `git pull` the project
2. Run `npm install`
3. During the setup, Leon will ask you if you want to override the `.env`, reply `yes`
4. Edit your `.env` file if necessary
5. R

[2019-06-08 23:22] louistiti commented on #102
I use Ubuntu myself to work on Leon and I see none of these errors.

On your "fully" Ubuntu OS, have you completely pulled and install a whole new Leon? Could you please tell me which Ubuntu version it is and paste the result of the `npm run check` command?

[2019-06-08 23:26] louistiti commented on #60
Sure, I'm looking forward to see the PR!

[2019-06-08 23:28] louistiti commented on #107
Alright then!

Feel free to ask questions if you need to.

[2019-06-08 23:47] louistiti commented on #106
Done.

I've deleted `utils.info()` in favor of `utils.getqueryobj()` as you can see in [the docs](https://docs.getleon.ai/packages-modules.html#getqueryobj).

Does it help?

[2019-06-08 23:57] gnouf1 commented on #102
I pulled and install a full new and clean Leon beta 1.0.0 3

npm run check :
[code]

[2019-06-09 00:19] louistiti commented on #102
Unfortunately I'm not able to reproduce that error although I have the same specs as you.

[code]

![Peek 2019-06-09 08-15](https://user-images.githubusercontent.com/1731544/59153582-0926b980-8a8f-11e9-91c5-cd9164d192e5.gif)

Is that possible for you to share a GIF of the web app and console?

[2019-06-09 00:30] gnouf1 commented on #102
I share for my ubuntu WSL :
[https://gyazo.com/1913d4d7e735e0a4d2393b39c22485ea](url)

[2019-06-09 00:31] louistiti commented on #105
![Peek 2019-06-09 08-27](https://user-images.githubusercontent.com/1731544/59153624-6c651b80-8a90-11e9-844a-4f09ad568d98.gif)

Well done! I've tried your fork and it's working pretty well.

Now regarding your concern, could you please provide me the expressions file that is causing that error and also tell me what sentences are you giving to Leon?

[2019-06-09 00:40] gnouf1 commented on #102
And on my fully ubuntu :
![mon-super-gif-de-test](https://user-images.githubusercontent.com/12630623/59153666-ee891c00-8a5f-11e9-99b9-7211a7b54f62.gif)

[2019-06-09 00:43] louistiti commented on #102
Thanks for sharing.

I've created a Discord server just now. Would you mind [joining it](https://discord.gg/MNQqqKg) so we can talk further?

Explanations will be posted here if that is fixed.

[2019-06-09 01:10] louistiti commented on #102
After digging into some debugging, the issue is fixed quite strangely.

A simple new build (`npm run build` and `npm start`) fixed it. I suppose it was due to a change in the code that was not update or something similar.

I'll close this issue as it is now working.

[2019-06-09 01:10] #102 closed

[2019-06-09 07:19] Imperator26 commented on #105
@louistiti If you try to ask him "When is the sun going to rise in London?" it doesn't work. He answers like I asked "What's the weather like in London?". I tried `npm run train expressions`multiple times, but that did't work. So I tried to momentarely remove the expression "What's the weather like in", but I get the error above.

[2019-06-09 07:31] louistiti commented on #62
The To-Do List module is done. It confirms that the NER (trim) is also done.

:gb: https://youtu.be/Ahfg6rRI9Lw
:fr: https://youtu.be/QVSVBkVev1k

[2019-06-09 07:31] #62 closed

[2019-06-09 07:32] louistiti commented on #42
I finished the first shot of the To-Do List module.

:gb: https://youtu.be/Ahfg6rRI9Lw
:fr: https://youtu.be/QVSVBkVev1k

[2019-06-09 07:55] louistiti commented on #105
![Peek 2019-06-09 15-52](https://user-images.githubusercontent.com/1731544/59156475-b4a32e80-8ace-11e9-9e5d-6fca9c3141a5.gif)

It looks good here :thinking:

I'm on [this commit](https://github.com/Imperator26/leon/tree/41cd3b9e4dd004421dffee693bc9f91428e8f58a).

[2019-06-09 07:58] Imperator26 commented on #105
Interesting... I'll try that

[2019-06-09 09:42] Imperator26 commented on #105
It works I'll make a PR

[2019-06-09 09:45] Imperator26 commented on #105
PR #108

[2019-06-09 09:45] #105 closed

[2019-06-09 16:00] astrowalker2013 opened #111 "type error model stt"
### Specs

- Leon version: 1.3.0 beta / developpement branch

- (if using Docker) Complete "npm run docker:check" output:
`➡ Encoding WebM file to WAVE file...
✔ Encoding done
➡ Parsing WAVE file...
/app/server/dist/stt/deepspeech/parser.js:155
    const string = model.stt(buffer.slice(0, buffer.length / 2), 16000);
                         ^

TypeError: model.stt is not a function
    at Object.p

[2019-06-10 11:43] ZhigangPu opened #113 "Get today's trending projects from github"
### Feature Use Case
- show me today's trending projects?
- what's today's trending projects?

### Feature Proposal
Get trending projects' structural information from github.
![image](https://user-images.githubusercontent.com/24690469/59193310-d9bf9c00-8bb7-11e9-9653-5125530bdb3e.png)

[2019-06-10 11:51] gnouf1 commented on #113
The trend package already do that no ?

[2019-06-10 12:18] ZhigangPu commented on #113
Sorry, I didn't pay attention to the trend package. emmm.....

[2019-06-10 12:18] #113 closed

[2019-06-10 15:02] louistiti commented on #113
Hello @ZhigangPu,

It's alright. Feel to suggest and/or contribute 😉

[2019-06-10 15:11] louistiti commented on #101
I'm gonna close this issue as there is no answer.

[2019-06-10 15:11] #101 closed

[2019-06-10 15:12] louistiti commented on #106
I suppose it should be alright now, I'll close the issue.

[2019-06-10 15:12] #106 closed

[2019-06-11 20:34] Imperator26 opened #114 "Check missing config.json"
### Expected Behavior
It would be ideal to have some kind of warning when starting leon that X package has no `config.json` file.

### Actual Behavior
The package silently doesn't work.

### Proposal
If possible it would be great to add some sort of check when initializing the packages. It would be even better if the check could go look inside the file and check that all modules are set.

[2019-06-15 20:00] tangyongfeng commented on #114
➡ /bin/sh -c pipenv run python bridges/python/main.py scripts/assets/query-object.json
✖ Error: Command failed: /bin/sh -c pipenv run python bridges/python/main.py scripts/assets/query-object.json
Traceback (most recent call last):
  File "bridges/python/main.py", line 20, in <module>
    main()
  File "bridges/python/main.py", line 17, in main
    return getattr(m, queryobj['module'])(queryobj['q

[2019-06-15 20:02] Imperator26 commented on #114
This check is not performed when `npm start` is run

[2019-06-15 20:09] tangyongfeng commented on #114
ok, thank you!

[2019-06-16 10:33] louistiti commented on #104
I close this issue as I've made a fix for it.

[2019-06-16 10:33] #104 closed

[2019-06-16 17:33] louistiti commented on #111
Hello @astrowalker2013,

Sorry for the late reply, I'm currently taking some holidays.

Please provide the complete report output via: `npm run docker:check`

[2019-06-18 14:27] Karthik-MA opened #117 "deepspecch"
### Question
when i am trying to get the program installed i get this error"Failed at the leon@1.0.0-beta.2 preinstall script" is there anyway to fix it ?
npm@6.9.0
node@v10.16.0
python 3.7.3
pipenv version 2018-11-26
[2019-06-18T13_55_58_310Z-debug.log](https://github.com/leon-ai/leon/files/3301888/2019-06-18T13_55_58_310Z-debug.log)

[2019-06-18 14:43] louistiti commented on #85
![](https://github.trello.services/images/mini-trello-icon.png) [⬆️ [1.0.0-beta.3] DeepSpeech 0.5.0](https://trello.com/c/APT9SWgS/296-%E2%AC%86%EF%B8%8F-100-beta3-deepspeech-050)

[2019-06-18 15:00] louistiti commented on #117
Hello @Karthik-MA,

Thanks for opening this issue.

It seems you are using Windows, as DeepSpeech is not available on this OS for Leon, then it will remove DeepSpeech from the tree dependencies before installing.

Please try those two things:

1. Install Python 3.6 and execute `npm install`
2. If 1. does not work, open the `package.json` file; remove the line `"deepspeech": "^0.4.1",` and execute

[2019-06-18 15:36] Karthik-MA commented on #117
trying it rn its installing FFmpeg rn

[2019-06-18 15:57] Karthik-MA commented on #117
it worked after doing the step 2 thanks for the quick reply

[2019-06-18 16:17] louistiti commented on #117
Alright, do not hesitate to open an issue if necessary.

[2019-06-18 16:17] #117 closed

[2019-06-18 18:41] louistiti commented on #85
Mozilla released DeepSpeech `0.5.0` recently. I've just made the upgrade https://github.com/leon-ai/leon/commit/b9f4079bda7e2907bc5fe01a646260ed8a57ad39.

Now Leon also supports Node.js `12` 🎉

[2019-06-18 18:41] #85 closed

[2019-06-23 16:04] astrowalker2013 commented on #111
`
[florian@leon leon]$ npm run docker:check

⠋
---

.: CHECKING :.

➡ /bin/sh -c node --version
✔ v10.15.3

➡ /bin/sh -c npm --version
✔ 6.4.1

➡ /bin/sh -c pipenv --version
✔ pipenv, version 2018.11.26

➡ /bin/sh -c pipenv --where
✔ /app/bridges/python

➡ /bin/sh -c pipenv run python --version
✔ Python 3.6.8

➡ /bin/sh -c pipenv run python bridges/python/main.py scripts/assets/query-object.json
✔

[2019-06-23 16:32] louistiti commented on #111
This is normal, you did not setup any STT provider. See [the docs](https://docs.getleon.ai/configuration.html#voice) to know more.

[2019-06-23 20:00] astrowalker2013 commented on #111
ok how ever when i execute

[florian@leon setup-offline]$ npm run setup:offline

➡ Checking OS environment...
✔ You are running Linux
➡ Checking tools...
✔ "tar" found
✔ "make" found
✖ The following command has failed: "apt-get --version". "apt-get" is maybe missing. To continue this setup, please install the required tool. More details about the failure: Error: spawn apt-get ENOENT
✖ Error: spawn

[2019-06-26 14:10] Karthik-MA opened #120 "Cannot find module 'follow-redirects'"
### Question
i get `cannot find module 'follow--redirects'` is there any way to fix it?

[2019-06-26 14:16] Karthik-MA commented on #120
https://pastebin.com/UtwKJKkV pastebin of error
[2019-06-26T14_12_52_299Z-debug.log](https://github.com/leon-ai/leon/files/3330431/2019-06-26T14_12_52_299Z-debug.log)

[2019-06-28 07:06] #120 closed

[2019-06-28 07:27] louistiti commented on #120
Hello @Karthik-MA,

I'm currently taking holidays, that explains my late answer. It seems your setup was not complete.

[2019-07-03 00:46] dkatz23238 opened #121 "Can I contribute to crypto package"
### Question
Hi,

From the trello board I can see that a crypto package is in backlog. Has anyone started this feature? Are there any other features that should be completed before this one?

Depending on the answers I would like to contribute and take this up.

Regards,

David

[2019-07-03 01:53] dkatz23238 opened #122 "What is the capital city gives wrong answer (should be not understood)"
### Specs

- Leon version:
- OS (or browser) version: Ubuntu 18.0
- Node.js version: 12.0

### Expected Behavior

Ideally there should be a capital city module :) I would be glad to work on this.

### Actual Behavior

I belive the meaning of life module is being triggered.

The response from lean is:
1 0 1 0 1 0.

### How Do We Reproduce?
 Run a fresh Leon instance and ask "what is the capital of

[2019-07-03 01:55] dkatz23238 commented on #122
Please let me know if I should suggest a "capital city" module separately.

[2019-07-03 05:43] louistiti commented on #121
Hello @dkatz23238,

Thanks for willing to contribute. I'm currently focusing on another project for the moment so I might be slow to respond.

But to reply to your question: you can definitly start working on the [crypto package](https://trello.com/c/NghQxwGC/282-%E2%9C%A8-crypto-package).

Do not hesitate if you have any questions. Also you can join [this Discord](https://discord.gg/MNQqqKg) for

[2019-07-03 05:46] louistiti commented on #122
Hello @dkatz23238,

Thanks for reporting. Yes I'm aware of that, this is not really a bug but an improvement we could provide.

In the meantime, let's keep this issue opened and see how we can solve it in the future :smiley:

[2019-07-04 21:35] dkatz23238 commented on #122
Great. How do you think this one should be done? I was thinking of just hardcoding a large dictionary with key values pairs for countries, however this can become difficult to add new features. I can also look into using an API such as the world bank or even wikipedia. What would you suggest?

[2019-07-04 21:37] dkatz23238 commented on #121
Great! I will tackle the capital cities one first as its simpler until then. I will post a comment when working on the crypto package, if anyone wants to develop it in the meanwhile feel free.

[2019-07-05 04:27] louistiti commented on #121
Awesome! Looking forward to see the updates.

[2019-07-05 04:31] louistiti commented on #122
My preference would be to go with a hardcoded large dictionary to make it work offline and with low-latency behavior.
In most of the cases it is better using a remote server to request an API or whatever, but here the capital cities don't change that often I suppose? Maybe there is a bit of researches to cover to ensure about the general update frequency of capital cities in the world.

What do yo

[2019-07-05 14:31] dkatz23238 commented on #122
Agreed, I will look into this frequency and I do agree with the offline option. It would be nice in a future to have leon be able answer a whole host of demographics, geographic, social, and cultural aspects about all countries around the world (Population size, favorite food, ect). Many of these indicators are usually in a similar format in Wikipedia and for these high level metrics I do not thin

[2019-07-08 10:51] ahmadrezash opened #123 "Another language"
Hi,
I love your project and I love NLP.
Can I translate leon packages to another language like Persian?
I love contributing to this project.
Are you merge that?

Ahmad

[2019-07-09 00:24] louistiti commented on #123
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Languages support](https://trello.com/c/PqiIElyx/217-%E2%9C%A8-languages-support)

[2019-07-09 00:26] louistiti commented on #123
Hello @ahmadrezash,

Thanks for willing to contribute! For the moment I do not merge translations but French and English. However, I added you to the list of translators, so once we'll focus on more languages support then we can translate Leon to Persian language.

What do you think?

[2019-07-09 04:08] ahmadrezash commented on #123
Hi,
I can't understand what you mean.
My native language is Persian and I can translate "answer" and "question"
and ... file very well to Persian.
I can start now and finish that soon.
It is in your priority?
I will be so happy for doing that, as the start of contribute :)

Ahmadreza Sharifianzade, computer science student @ SBU

On Tue, Jul 9, 2019, 4:57 AM Louis Grenard <notifications@github.com

[2019-07-09 13:30] louistiti commented on #123
We will focus on translations later but not now 😉

[2019-07-09 15:17] ahmadrezash commented on #123
Ok
That's fine.
But now.
I'm python developer, assign me a task in Leon development, please.
New feature for old packages or new package or...
Tnx

Ahmadreza Sharifianzade, computer science student @ SBU

On Tue, Jul 9, 2019, 6:00 PM Louis Grenard <notifications@github.com> wrote:

[2019-07-10 03:01] louistiti commented on #123
Alright! Feel free to pick up a Leon module that is in the backlog of the [roadmap](https://roadmap.getleon.ai).

[2019-07-10 03:01] #123 closed

[2019-07-11 11:41] louistiti opened #125 "ℹ️ Going part time and focusing on another project for a while"
Hey everyone 👋,

I'm opening this issue to say that I'm **going part time with my day job** so now I'll have more time to focus on my own projects. Which means Leon will speed up in the future!

However, I'm **currently focusing on another project** called "**2aud.io**", basically it is a service that will allow you to **convert web links, files and texts to audio**. You can [**subscribe here**](h

[2019-07-11 16:09] superchino9000 opened #126 "Error: Command failed: /bin/sh -c pipenv install --skip-lock"
### Question
Hello! I am using Ubuntu 16.04. Has anyone seen or solved this problem?
After 'npm install' I get error message 'Error: Command failed: /bin/sh -c pipenv install --skip-lock'.

[2019-07-12 01:27] louistiti commented on #126
Hello @superchino9000,

Thanks for asking! Have you installed Pipenv before installing?

[2019-07-12 05:14] superchino9000 commented on #126
Hi Louis, yes pipenv is installed.

[2019-07-12 05:22] louistiti commented on #126
Alright, please provide the outputs of the following commands:

[code]

That will help to have a better understanding of your setup 😃

[2019-07-12 07:15] superchino9000 commented on #126
Ha I guess I did not install pipenv correctly. I used 'pip install pipenv', that didn't work.

node 10.16.0
npm 6.9.0
pipenv 'No such file or directory'
python 2.7.12
python3 3.6.8
pipenv 'No such file or directory'
pipenv run python 'No such file or directory'

Any advice? Thanks!

[2019-07-12 07:17] louistiti commented on #126
Indeed 😃

Maybe that [How To](https://docs.getleon.ai/how-to/#how-to-install-pipenv) would help?

[2019-07-12 07:55] superchino9000 commented on #126
Of course, silly me!

I fixed the pipenv issue but after running 'npm install', error 'Command failed: /bin/sh -c pipenv install --skip-lock' still exists. 'npm install' also output 1 low severity vulnerability and running 'npm audit fix' did not fix it. Can the 'skip-lock error' be ignored?

On the brighter side, Leon ran!

node v10.16.0
npm v6.9.0
pipenv v2018.11.26
python v2.7.12
python3 v3.6.8

[2019-07-13 17:54] superchino9000 commented on #126
Closing this, 'skip-lock' error hasn't been a major issue.

[2019-07-13 17:54] #126 closed

[2019-07-13 23:40] louistiti commented on #126
Hey @superchino9000,

Sorry for the late reply (I'm currently focusing on another project for a while: [2aud.io](http://2aud.io)).

Does this `skip-lock` error block the install so you cannot go further?

I'll need to remove it in the future, as planned on the [roadmap](https://trello.com/c/9FkcudYo/253-%F0%9F%90%9E-remove-pipenv-skip-locking).

Regarding the low vulnerability, it is due to a Node

[2019-07-18 19:44] japita-se opened #127 "Fresh install Crash"
After installing offline DeepSpeech:

[code]

[2019-07-18 22:41] Outstep opened #128 "How is Leon trained"
I am researching virtual assistants for possible use in a project as the base to build from. Some of these project are Almond (Stanford University), Rasa, Myfroft (for web interface), and Leon.

The base of the project is a virtual assistant AI knowledge base that can perform additional tasks.

Could you please tell me know about how Leon is trained to gather more skill sets as I ran the Docker ve

[2019-07-18 23:32] gnouf1 commented on #121
@dkatz23238 Maybe you should join the Leon discord ? [link](https://discord.gg/3M9K7uU)

[2019-07-19 02:10] louistiti commented on #127
Hello @japita-se,

Thanks for opening this issue.

It seems that your text-to-speech [option](https://docs.getleon.ai/configuration.html#environment-variables) is enabled and with the `flite` offline provider. However, you did not install that one, so when Leon tries to speak, he cannot use this offline voice.

So:

1. Either disable the TTS for now via the `.env` file.
2. Either you download Flit

[2019-07-19 02:31] louistiti commented on #128
Hello @Outstep,

Glad to see that you are doing such researches.

Have you take a look at [the architecture](https://docs.getleon.ai/architecture.html)? On the top of that, by reading [this section](https://docs.getleon.ai/packages-modules.html) and/or by creating a new module of Leon, you'll be able to answer to all of your questions.

If you have further or more specific questions, I'll be happy

[2019-07-20 04:42] louistiti commented on #128
Got it, do not hesitate to ask in case you have any questions.

I'm gonna close it, feel free to reopen it if you find it's necessary.

[2019-07-20 04:42] #128 closed

[2019-08-09 09:23] Samuelsar777 opened #130 "How to run this on colab?"
### Question

[2019-08-09 10:26] Samuelsar777 opened #131 "Hardware requirements?"
### Question

[2019-08-09 10:30] #131 closed

[2019-08-09 10:31] #130 closed

[2019-08-15 20:02] ostenieverson opened #132 "Create a new language"
How to create a new language?

[2019-08-15 20:43] gnouf1 commented on #132
You mean how to add an translate ?

[2019-08-16 00:58] louistiti commented on #132
Hello @ostenieverson,

Please see [this issue](https://github.com/leon-ai/leon/issues/123).

What language would you like to add?

[2019-08-16 10:23] ostenieverson commented on #132
Português Brasil

Em qui, 15 de ago de 2019 21:58, Louis Grenard <notifications@github.com>
escreveu:

[2019-08-18 14:04] louistiti commented on #132
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Languages support](https://trello.com/c/PqiIElyx/217-%E2%9C%A8-languages-support)

[2019-08-18 14:05] louistiti commented on #132
Alright, I've linked this issue to the language support card on [the roadmap](https://trello.com/c/PqiIElyx/217-✨-languages-support). So when we'll be supporting more languages, I'll let you know.

Thanks.

[2019-08-18 14:05] #132 closed

[2019-08-24 13:43] soomro30 opened #133 "Modify Hotword "Leon" to another word to wake the leon personal assistant"
Hi. Leon is amazing personal assistant. I need to know how can we modify the hotword.

[2019-08-24 13:47] soomro30 opened #134 "Mic for hotword crashes and keep blinking unexpectedly most of the time"
Hello. I am using the hotword wakeup for leon. Sometimes the hotword works very fine and suddenly sometimes it hangs with the mic icon blinking and following error message on the console.

main.js:569 Uncaught DOMException: Failed to execute 'start' on 'MediaRecorder': The MediaRecorder's state is 'recording'.
    at Recorder.start (http://localhost:1337/js/main.js:569:21)
    at r.<anonymous> (ht

[2019-08-25 01:25] louistiti commented on #134
Hello @soomro30,

Thanks for reporting. Let me take a look at that once I'm back on Leon.

[2019-08-25 09:27] soomro30 opened #135 "How to display a plot.ly chart in the leon answer module."
I am developing a custom package where it will leon will answer project status update.

I have installed and added the plot.ly library.

How do we display a plotly chart in the leon frontend chatbox?

[2019-08-26 00:02] louistiti commented on #135
Hello @soomro30,

I plan to create a widget system in the future as mentioned [in the roadmap](https://trello.com/c/LIDwVtfF/136-%E2%9C%A8-chatbot-aspect) where every module could have a dedicated component output on the client.

For the instance, you can try to put your HTML in the answers of your module and create/import your CSS and JavaScript [in the client](https://github.com/leon-ai/leon/tre

[2019-08-26 04:42] soomro30 commented on #135
I tried to add a div with an id in the answer and add the css and Javascript in the index.html but it is not working. Anyways thanks for the answer.

Also I asked one question that how can i modify the hotword "Leon". I want to use another word

[2019-08-27 08:11] louistiti commented on #135
You can take a look at [this](https://snowboy.kitt.ai/) to generate your model. Then put your model in [this folder](https://github.com/leon-ai/leon/tree/develop/hotword/models). And edit the `.pmdl` filename [here](https://github.com/leon-ai/leon/blob/develop/hotword/index.js#L36) if necessary.

Feel free to open a new issue regarding that topic.

[2019-08-27 08:11] #135 closed

[2019-09-03 11:03] louistiti commented on #133
Hello @soomro30,

Thanks for Leon! I've replied via [this answer](https://github.com/leon-ai/leon/issues/135#issuecomment-525191677).

[2019-09-03 11:03] #133 closed

[2019-09-04 12:22] Gadgetroch opened #138 "Python 3.6"
Good morning,

When i launch npm install, i get that :
`✖ Error: Command failed: /bin/sh -c pipenv install --skip-lock
Warning: Python 3.6 was not found on your system...
You can specify specific versions of Python with:
  $ pipenv --python path/to/python
`

I am on raspberry 1, raspbian 10

[2019-09-04 12:54] gnouf1 commented on #138
When you just type "python" in terminal what's the version ?
Check if it's not 2.7 or other

Also Leon might not work on RP.

[2019-09-04 12:56] Gadgetroch commented on #138
So i can't use it on raspberry ? :(
I'm on python 2.7, but i can install python 3 but i have python 3.7.

[2019-09-04 13:13] Imperator26 commented on #138
Please follow these [instructions](https://docs.getleon.ai/how-to/#how-to-install-python)

[2019-09-04 13:14] Gadgetroch commented on #138
Already made

[2019-09-04 22:19] gnouf1 commented on #138
change python alias for python3.

But for RP I'm not sure it's work :/

[2019-09-04 22:57] Gadgetroch commented on #138
I have python 3.7. I try ?

Le jeu. 5 sept. 2019 à 00:19, gnouf1 <notifications@github.com> a écrit :

[2019-09-07 15:37] gnouf1 commented on #138
Yup

[2019-09-14 02:00] louistiti commented on #125
Hello all 👋,

Quick update here. I'm still working on 2aud.io now and it'll still take some time.

However, I'm creating enough generic code for 2aud.io that will be very useful for Leon in the future, stay tuned!

[2019-09-30 04:21] fridgerator opened #139 "Any interest in PyNode support?"
### Proposal

I have written a native node module for node to python foreign function interface interoperability. https://github.com/fridgerator/pynode. It allows python function calls from node via c++ bindings.

[Here is a blog post](https://thecodinginterface.com/blog/bridging-nodejs-and-python-with-pynode/) about it being used with some ML python libraries.

I'm wondering if there is any inter

[2019-09-30 16:50] louistiti commented on #139
![](https://github.trello.services/images/mini-trello-icon.png) [✨ [1.0.0-beta.4] New bridges](https://trello.com/c/z9lNNYKY/241-%E2%9C%A8-100-beta4-new-bridges)

[2019-09-30 16:50] louistiti commented on #139
Hello @fridgerator,

Well done and thanks for suggesting!

It might be indeed useful once we'll be integrating new [bridges](https://docs.getleon.ai/bridges.html) to have a compatibility of the current Python modules with a potential JavaScript bridge, so that every Python module will be available under the JavaScript bridge too.

[2019-10-03 22:57] GaboFDC commented on #122
@dkatz23238 are you working on this? if you are busy, I may give it a try

[2019-10-03 22:59] dkatz23238 commented on #122
@GaboFDC Please do! I have not been able to advance on this project. Thanks!

[2019-10-05 22:44] Lp-Francois opened #141 "Fedora & apt-get"
### Specs

- Leon version: latest
- OS (or browser) version: Fedora 30
- Node.js version: 10.16.3
- Complete "npm run check" output:

[code]

- (if using Docker) Complete "npm run docker:check" output: _
- (optional) Leon package version: _

### Expected Behavior

Run without errors the `npm run setup-offline`.

### Actual Behavior

Throw this error after `npm run setup-offline` :

[code]

### How

[2019-10-05 23:26] AsterYujano commented on #141
After adding `dnf` support, it seems like _sox libsox-fmt-all_ are not available on dnf/rpm but only with apt-get.

[2019-10-06 00:53] louistiti commented on #141
Hello @AsterYujano,

Thanks for reporting. It was indeed a choice to not make difference between different Linux distributions, the reason is to keep it simple at first.

However, if you can get a fully workable installation process with Fedora, I'll be happy to work with you to support it 😃

[2019-10-11 17:07] theparselmouth commented on #30
Is this done or still open ?

[2019-10-11 23:35] louistiti commented on #30
@theparselmouth it is done based on an old codebase, so you can adapt it to the latest Leon version if you want and try to improve it.

[2019-10-15 13:55] VMinhoto commented on #25
Hey! Can is this still open? Can I pick it up?

[2019-10-15 14:11] louistiti commented on #25
Hello @VMinhoto,

The [module](https://github.com/leon-ai/leon/blob/develop/packages/checker/isitdown.py) is done but can be improved, feel free to do it :wink:

[2019-10-15 14:35] VMinhoto commented on #25
I can try to improve that! The issue is:
Asking for
```is gitub up ?``` instead of ```is github.com up?``` right?

[2019-10-16 00:01] louistiti commented on #25
Indeed! And for the "most popular" ones.

[2019-10-16 13:00] VMinhoto commented on #25
I see several ways to accomplish this. Will list them with cost/benefit explanation and could you guys select one depending on what you really want implemented:

- **Have a list of all websites registered and search them for the required string** - Would not advise this as there are billions of billions websites domain listed and it probable wold cause memory issues (and probably would take a lot

[2019-10-16 13:30] louistiti commented on #25
Thanks for putting it here.

The hybrid solution looks good, however we cannot ensure that the domain name is the right one in that way. Two websites might have the same name and then one could have `xxx.com` and another `xxx.io`.

So my suggestion here is to create a list of the most popular ones and do a mapping of it, in case the list start to grow quite well, then we could think of optimizatio

[2019-10-16 13:47] VMinhoto commented on #25
Hey again several more questions. Sry about the interrogations, but trying to get the 'requirements' before actually start implementing :).

- When you say ```list of the most popular ones``` are talking about a list of popular full websites? Like:
[code]
- Yes it makes sense that the list should be at the config file yes!

- Yes if domain name is provided as input it should maintain the current b

[2019-10-16 13:50] louistiti commented on #25
No problem, don't hesitate to ask :smile:

Yes, I'm talking about a mapping like so: `github => github.com; google => google.com`, etc.

[2019-10-16 13:57] louistiti commented on #25
Always take the main one, in the case of Amazon, it is indeed the `.com` TLD. Most of the popular website will take over from their and bind the right servers under the hood.

[2019-10-16 14:02] VMinhoto commented on #25
Done for now. Will read a bit more on documentation and get it done!

[2019-10-17 11:23] VMinhoto commented on #25
It's pretty much done the searching part, however I'm having trouble recognizing it has an entity. The main problems I am having are:

1. Failing to run package

- If asked: ```Is google.com up?``` it answers: ```I am now requesting Google. Google is running correctly.```

- However if asked: ```Is google up?``` it doesn't recognize google as an entity, therefor it doesn't even run the package. It

[2019-10-20 05:47] jonlie1107 commented on #138
I'm running into the same problem. Did anyone find a way to get past this?

[2019-10-20 07:52] aorizondo commented on #111
I have the same problem with the STT, everything is according with the docs. Im using debian 10

[2019-10-22 23:57] jonlie1107 commented on #138
Was able to resolve it. Pyenv worked out for me

[2019-10-23 21:59] SodaLover commented on #37
Currently working on it, doing a log on all the steps for a possible readme.

[2019-10-28 15:23] Simvolick commented on #138
Pyenv Solved

[2019-11-10 19:37] shashwataggarwal commented on #37
@borisrorsvort @louistiti is this issue still open?

[2019-11-10 23:54] louistiti commented on #37
Yes it is. I'm taking my time on my current project but will come back to work on Leon later on for sure 😉

[2019-12-08 13:30] Peppuz commented on #125
I just find you out, I really like the project, looks a bit at a starting point, but i saw Trello, and there are tons of ideas to make real. Great job on the whole platform, I'll wait you to come back as full-time here!

[2019-12-08 13:34] louistiti commented on #125
Thanks!

I'm very looking forward to come back to it too.

[2019-12-15 08:34] sprinteroz opened #147 "Leon on windows10, npm failing to load or build"
## Question
Hi all, I can not get the Leon AI to install on my laptop windows 10. I have the error log attached if anyone could help that be great thanks.

Also I when using windows visual studio with c++ support, as I found out in the error logs is there anything else I have to install?

PS C:\Users\Alienwarei7\leon> npm run check

⠋ leon@1.0.0-beta.2 check C:\Users\Alienwarei7\leon
---abel-node

[2019-12-15 10:20] molotsnk opened #148 "Is it possible to write packages in NodeJs?"
### Question

[2019-12-15 22:45] sprinteroz commented on #147
Hi all, I see in the npm check, it says  pipenv run python --version Invalid Version: 3.7.6rc1, what version should I have installed to run Leon

[2019-12-18 03:23] louistiti commented on #148
Hi,

Thanks for asking. No, it is not possible for the moment. I plan to implement it later, you can take a look at [this issue](https://github.com/leon-ai/leon/issues/48) and [this card](https://trello.com/c/z9lNNYKY/241-%E2%9C%A8-100-beta4-new-bridges).

Let me know if you have any questions.

[2019-12-18 03:23] #148 closed

[2020-01-04 01:52] johnfelipe opened #150 "Leon spanish supported?"
Leon spanish supported?

[2020-01-04 07:07] louistiti commented on #150
Hello @johnfelipe,

Thanks for asking. No, it is not yet supported as the focus is not set there for the moment. However, I may consider to add it in the future.

In the future, will you be interested to help with the translations?

[2020-01-04 08:58] johnfelipe commented on #150
Count with me
Pls ensure to notify me

El sáb., 4 de ene. de 2020, 2:07 a. m., Louis Grenard <
notifications@github.com> escribió:

[2020-01-04 09:16] louistiti commented on #150
![](https://github.trello.services/images/mini-trello-icon.png) [✨ Languages support](https://trello.com/c/PqiIElyx/217-%E2%9C%A8-languages-support)

[2020-01-04 09:16] louistiti commented on #150
Awesome, thanks!

[2020-01-04 09:16] #150 closed

[2020-01-09 06:00] AshrafAkon opened #151 "Cant install Leon on lubuntu 18.04"
- Leon version: 1.0.0-beta.2
- OS (or browser) version: lubuntu 18.04
- Node.js version: v12.14.1
- Npm version : 6.13.4
Full npm check install log is added as file. kindly take a look at it. cant submit it in the text. its too long
[npm_check_install.log](https://github.com/leon-ai/leon/files/4038797/npm_check_install.log)

I installed npm, node according to the how to guide. But then when I try

[2020-01-11 22:26] StraykerPL opened #152 "Errors during instalation, strange output"
### Specs

- Leon version: the newest, downloaded with `git clone` command,
- OS (or browser) version: Windows Server 2019 Datacenter x64 with Google Chrome 79,
- Node.js version: 12.14.1
- Complete "npm run check" output: [here](https://github.com/leon-ai/leon/files/4049953/output.check.txt)
- (if using Docker) Complete "npm run docker:check" output:
- (optional) Leon package version:

### Expect

[2020-01-13 15:08] kdavis-mozilla commented on #22
PS: Deep Speech 0.6.1 is out!

[2020-01-17 05:07] menporulporiayalan commented on #151
@AshrafAkon  Can you please post the log here?

[2020-01-24 19:45] Umair0l commented on #152
I am also having this same problem

[2020-02-16 09:24] Tejaswgupta commented on #37
I see that it is not assigned to anyone . can I work on this.

[2020-02-16 09:25] Tejaswgupta commented on #30
No assignees in this one too?

[2020-02-16 09:27] louistiti commented on #37
Sure you can work on it. I'll need to also take a look at it once I'll be back.

[2020-02-16 13:32] DGCarramona opened #156 "Other coding language version"
### Question

Hello, I would like to examinate leon sources to implement very similar behaviours on other coding language (for example kotlin), allowing its use in other cases.
Willing to be fair, I prefer check if there is no problem in doing so.
Thanks

[2020-02-16 13:49] louistiti commented on #156
Hi, there is no problem at all doing so. Open source is awesome 😄

[2020-02-16 13:52] DGCarramona commented on #156
Thank you. My reimplementation would be, indeed, open source. Matter of fact, I've yet started a project of personal assistant (no publicity here, just sharing as saying) https://github.com/DGCarramona/KJarvis.

[2020-02-16 13:52] #156 closed

[2020-02-16 18:13] caillef commented on #121
Hi, just checked this card on the Trello. Maybe CoinPaprika API is a better option than cryptoapis.io.
Mostly because it's totally free ! :)
https://coinpaprika.com/api/

I actually made a crypto news aggregator. I should open the API so that you can just ask for the latest news about Bitcoin or any cryptocurrency and it can shares the most shared posts.

I will definitely follow this leon-ai proj

[2020-02-16 22:08] Redone0001 commented on #152
Same issue
[2020-02-16T22_00_41_472Z-debug.log](https://github.com/leon-ai/leon/files/4211019/2020-02-16T22_00_41_472Z-debug.log)
[2020-02-16T22_00_41_130Z-debug.log](https://github.com/leon-ai/leon/files/4211020/2020-02-16T22_00_41_130Z-debug.log)

Leon : last version
OS : Windows 10 up to date
node.js version : 13.8
npm run check : in attach

[2020-02-16 23:00] Gregoire-perso opened #157 "Error with "npm run check""
### Specs

- Leon version: the lastest version of the develop branch
- OS (or browser) version: Ubuntu 19.10
- Node.js version: 12.16.0
- Complete "npm run check" output: [here](https://github.com/leon-ai/leon/files/4211036/output.txt)

### Expected Behavior
It should be ok and I don't understand why it's not (I've already installed the module `tinydb` with `pip3 install tinydb` )

### Actual Beha

[2020-02-17 00:57] louistiti commented on #157
Hello @Gregoire-perso,

Thanks for opening this issue.

You can take a look at [this issue](https://github.com/leon-ai/leon/issues/98) and also at [this one](https://github.com/leon-ai/leon/issues/7).

Let me know if that helps.

[2020-02-17 01:03] louistiti commented on #121
Hi @caillef,

That looks interesting, thanks for sharing!

For the moment I'm focusing on other projects such as my [French YouTube channel](https://youtube.com/louistititutos). But I'll be back on Leon later, for sure.

[2020-02-17 02:22] ZaptoInc opened #158 "Is there an API?"
### Question
Hello! Is there an API for Leon? i want to use it in my app but i can't find a doc for it on the docs.
Thanks!

[2020-02-17 10:29] Gregoire-perso commented on #157
Thanks a lot, it worked ! I haven't seen that issue before (maybe I didn't look very well...)

[2020-02-17 10:29] #157 closed

[2020-02-17 11:36] louistiti commented on #158
Hello @ZaptoInc,

Thanks for opening this issue. I have many ideas for what's next, and APIs are on the list, but not today yet.

Stay tuned!

[2020-02-17 13:18] ebanDev opened #159 "Raspberry Pi 3B Bug"
Bonjour, étant intéressé par votre projet, j'ai tenté de l'installer sur mon raspberry pi 3B. J'ai les dernières versions de toutes les dépendances... Quand je lance sudo npm install, j'obtient, après un certain temps l'erreur suivante :
[https://pastebin.com/GsyHD6ma](url)

[2020-02-17 16:15] MrDondoT commented on #152
same issue after `npm install`
Leon : last version
OS : Windows 10 pro
node.js version : 13.8
npm run check : in attach
[2020-02-17T16_10_08_371Z-debug.log](https://github.com/leon-ai/leon/files/4214801/2020-02-17T16_10_08_371Z-debug.log)

[2020-02-18 18:09] mattjcj opened #160 "[Docker] Unable to run any module"
### Specs

- Leon version: 1.0.0-beta.2
- OS (or browser) version: Windows 10 / Any (but I guess this is reproductible on any OS)
- Node.js version: v10.19.0
- Complete "npm run check" output: Run from inside the container, after command ` docker exec -ti [container_name] /bin/sh`
[code]
- (if using Docker) Complete "npm run docker:check" output: not working

### Expected Behavior
Basically that i

[2020-02-19 01:58] louistiti commented on #160
Hello @mattjcj,

Thanks for opening this issue.

- According to your output, it shows `Python 3.6 was not found on your system`, but here you are mentioning about Python 2.6. Could you please clarify?
- Could you please try to pull Leon from the latest commit of the `develop` branch and retry with it?

[2020-02-19 02:00] louistiti commented on #159
Hello @ebanDev,

Thanks for opening this issue.

There is currently no support on it I believe. But I'll work on it in the future, please see the following issues: https://github.com/leon-ai/leon/issues/37 ; https://github.com/leon-ai/leon/issues/28.

[2020-02-19 02:02] louistiti commented on #158
I close this issue as the answer has been provided.

[2020-02-19 02:02] #158 closed

[2020-02-19 02:05] louistiti commented on #138
https://github.com/leon-ai/leon/issues/37 ; https://github.com/leon-ai/leon/issues/28

[2020-02-19 08:28] ebanDev commented on #159
All right, thanks for taking the time to answer.

[2020-02-19 10:52] TheLokj commented on #152
I had the same problem and I corrected it like that :

1. Firstly, clean your directory with `npm cache clean --force` and remove the _node_modules_ folder in you have one.
2. Secondly, make sure that the cmd is in administrator mode (launch the cmd directly by research, and write `cd <pathofleon>`).
3. Check the presence of the programs necessary to run leon : python 3 with `python --version` and

[2020-02-19 12:53] mattjcj commented on #160
Hello,

- Yes sorry, that's a typo I meant Python 3.6. I edited the original comment.
- It worked from the develop branch, so I searched a bit further and found #6

Maybe the little `1.0.0-beta.1+` tag in the [documentation](https://docs.getleon.ai/#docker-installation) needs to be updated ?

So I'm closing it, thanks !

[2020-02-19 12:53] #160 closed

[2020-02-19 13:34] louistiti commented on #160
Happy that you don't have any problem anymore!

[2020-02-19 16:40] jeremieclv opened #161 "bug report for the installation on Windows 10"
### Specs

- Leon version: actual
- OS (or browser) version: Windows10
- Node.js version:  v12.16.0.

[code]

- Complete "npm run check" output:

[code]
Bonjour Louis,
J'ai découvert ton projet via le youtubeur Micode. Je trouve ton projet très prometteur. Je souhaiterai le tester et contribuer. J'ai quelques idées notamment sur l'alimentation de Leon en "expressions" et en "answers".

Je rencontr

[2020-02-20 00:55] louistiti commented on #161
Hello @jeremieclv,

Thanks for opening this issue.

Can you please go to the `package.json` file and:
1. Remove [this line](https://github.com/leon-ai/leon/blob/develop/package.json#L60) and also [this one](https://github.com/leon-ai/leon/blob/develop/package.json#L32).
2. Delete the `package-lock.json` file.
3. Delete the `node_modules` folder.
4. Run `npm cache clean --force `
5. Then run `npm i

[2020-02-21 22:38] gustafholst opened #162 "Have I been Pwned api v2 is discontinued"
### Expected Behavior
Should tell me whether or not I have been pwned
### Actual Behavior
"This version of the API has been discontinued, please use V3: https://www.troyhunt.com/authentication-and-the-have-i-been-pwned-api/"
### Proposal
Use v3 of the API

[2020-02-22 01:01] louistiti commented on #162
Hello @gustafholst,

Thanks for opening this issue. I will take a look at it once I'll be back.

[2020-02-25 09:19] Izox-github opened #163 "Pourquoi pas créé un "launcher" en .exe?"
### Question 🤔
Pourquoi pas créé un launcher en .exe?

[2020-02-25 20:37] StraykerPL commented on #152
Hello @TheLokj !
Thank you for your help. When I tried out your instructions, installation still not working, but the output has changed a little. When I tried to search the output from console I found:

But when I enter the given path through the file explorer, I see that this given file exists. "git-sh-setup" is in the given folder, with "git-submodule" EXE. Maybe it's problem of calling this fi

[2020-02-25 21:07] JeanLoupCaillet commented on #138
Someone know why python 3.6 and not 3.7 ?
In readme only python >=3 is written.

I'm currently on Kali for personal reasons and all packages 3.6 have been removed :) --'

[2020-02-26 08:29] louistiti commented on #163
Hello @Izox-github,

Thanks for opening this issue.

A desktop version is on the roadmap but not soonly.

[2020-02-26 08:29] #163 closed

[2020-02-26 18:27] vinedu18 opened #165 "fail to check"
npm run check

⠋
---

.: CHECKING :.

➡ /bin/sh -c node --version
✔ v10.19.0

➡ /bin/sh -c npm --version
✔ 6.13.4

➡ /bin/sh -c pipenv --version
✔ pipenv, version 2018.11.26

➡ /bin/sh -c pipenv --where
✔ /root/leon

➡ /bin/sh -c pipenv run python --version
✔ Python 3.5.3

➡ /bin/sh -c pipenv run python bridges/python/main.py scripts/assets/query-object.json
✖ Error: Command failed: /bin/sh -c pip

[2020-02-27 01:11] louistiti commented on #165
Hello @vinedu18,

Thanks for opening this issue.

Please take a look at the following ones: https://github.com/leon-ai/leon/issues/7 and https://github.com/leon-ai/leon/issues/98.

[2020-02-27 08:35] #165 closed

[2020-02-27 12:04] CodexXAE opened #166 "Error:"
Error when I write "Hello"
In Leon (http://localhost:1337/) "Sorry, I've got an error with the Greeting module of my Leon package!
Sorry, the Greeting module of my Leon package is brok"
In terminal ".: LEON :.

➡ Talking...
✖ Failed to delete query object file: Error: ENOENT: no such file or directory, unlink '/mnt/c/Users/User/Desktop/leon/server/dist/core/../tmp/1582804820581-2s5x.json'

---

.:

[2020-02-28 00:37] louistiti commented on #166
Hello @Izox-github,

Please follow the [template](https://github.com/leon-ai/leon/issues/new?labels=bug&template=BUG.md) to report a bug.

[2020-03-02 11:43] Stormiix opened #167 "Developing new Leon clients (Facebook, Telegram, Slack ..etc)"
## Expected Behavior

In a perfect world, as a user, I should be able to communicate with my personal assistant wherever I am and using any communication method available. Basically  a *build once*, *run everywhere* sort of thing.

### Actual Behavior

Communication with Leon is limited to the web app client (which is quite good tbh), but adds the need of hosting it and making it publicly accessib

[2020-03-03 00:25] louistiti commented on #167
Hello @Stormiix,

Thanks for suggesting!

This is indeed something I plan to do. Same as having a mobile app.

[2020-03-05 21:12] xrths opened #168 "Leon stuck on the loading screen"
### Specs

- Leon version: Last
- OS (or browser) version: Browser: Chrome | Host: Debian 10 Buster
- Node.js version: v12.16.1
- Complete "npm run check" output: https://prnt.sc/rc8cuc
- (if using Docker) Complete "npm run docker:check" output: No Docker
- (optional) Leon package version: /

### Expected Behavior
Careful start of the Web UI

### Actual Behavior
Blocked on the load
https://prnt.sc

[2020-03-10 02:01] od2 commented on #168
`sudo apt install sqlite3-devel libsqlite3-dev pysqlite`

[2020-03-10 02:03] od2 commented on #167
an API? that's good plan.

[2020-03-14 13:06] voknelim opened #170 "Unable to resolve path to module"
Hello,

I cannot install leon, this error prevents me.

I followed the procedure to the letter, but it does not work.

Thank in advance for your help.

Best regards

### Specs

- Leon version:  leon@1.0.0-beta.2
- OS (or browser) version: Windows 10
- Complete "npm run check" output:
 C:\WINDOWS\system32\cmd.exe /q /s /c "node --version"
✔ v12.16.1

➡ C:\WINDOWS\system32\cmd.exe /q /s /c "npm --ve

[2020-03-15 02:46] louistiti commented on #170
Hello @voknelim,

Thanks for opening this issue.

Can you try to install Leon from the `develop` branch? So you should get the `1.0.0-beta.3` version.

If that does not work, try the following:

Can you please go to the `package.json` file and:
1. Remove [this line](https://github.com/leon-ai/leon/blob/develop/package.json#L60) and also [this one](https://github.com/leon-ai/leon/blob/develop/packa

[2020-03-15 08:09] voknelim commented on #170
Hello Luis,

Thanks a lot for your help.

It worked with the trick of deleting the lines and running npm cache clean --force.

Best regards

[2020-03-15 11:45] louistiti commented on #170
Happy to see that it helped!

I'll let this issue opened to take a look at it once I'll be back.

[2020-03-16 00:19] die3oute opened #171 "bug report for the installation on Windows 10"
### Specs

- Leon version: 1.0.0-beta.3
- OS (or browser) version: Windows 10.0.18363.720
- Node.js version: 12.16.1 (x64)
- Complete "npm run check" output:
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! leon@1.0.0-beta.3 preinstall: `node scripts/setup/preinstall.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the leon@1.0.0-beta.3 preinstall script.
npm ERR! This is probably not a pr

[2020-03-21 18:43] tdevilleduc commented on #171
I started from scratch,
forked repo,
install npm latest LTS (12.16.1),
execute 'npm install',
had an error because of missing pipenv
execute pip install pipenv
execute npm install again

`
λ npm run check

⠋
---

.: CHECKING :.

➡ C:\Windows\system32\cmd.exe /q /s /c "node --version"
✔ v12.16.1

➡ C:\Windows\system32\cmd.exe /q /s /c "npm --version"
✔ 6.13.4

➡ C:\Windows\system32\cmd.exe /q /s /c

[2020-03-21 23:45] auxsophia opened #173 "Error installing pipenv on Ubuntu 18.04"
### Specs

- Leon version: 1.0.0-beta.3
- OS (or browser) version: Ubuntu 18.04
- Node.js version: v13.11.0
- Complete "npm run check" output: only missing TTS and STT
- (if using Docker) Complete "npm run docker:check" output:
- (optional) Leon package version:

### Expected Behavior
Installing pipenv through pip.

### Actual Behavior
Installing pipenv through pip does not install. It downloads b

[2020-03-23 10:49] die3oute commented on #171
Thank you very much everything worked perfectly !

Le sam. 21 mars 2020 à 19:44, Thomas Deville-Duc <notifications@github.com>
a écrit :

[2020-03-23 10:52] tdevilleduc commented on #171
Did you do something special to make it work ?
Please close issue if everything is ok for you

[2020-03-23 10:54] tdevilleduc commented on #173
Same behaviour on Win10

[2020-03-23 14:25] die3oute commented on #171
I just installed pipenv as you advised me to. and everything worked properly.
I close the issue thanks.

[2020-03-23 14:25] #171 closed

[2020-03-23 14:45] die3oute opened #174 "Error with TTS & STT APIs from IBM | Watson when talking to leon"
### Specs

- Leon version:  leon@1.0.0-beta.3
- OS (or browser) version: Windows 10
- Node.js version: 12.16.1
- Complete "npm run check" output:

.: ASR :.

➡ Encoding WebM file to WAVE file...
✔ Encoding done
➡ Parsing WAVE file...
C:\Users\Utilisateur\Desktop\leon\leondevelop\server\dist\stt\stt.js:99
      this.parser.default.parse(buffer, data => {
                          ^

TypeError: Cann

[2020-03-26 07:36] youxiaodao opened #175 "about error：Failed at the deepspeech@0.4.1 install script."
when i run npm install，i got this！what can i do  for this to repair it？
####
44461 verbose pkgid deepspeech@0.4.1
44462 verbose cwd /server/tools/leon
44463 verbose Linux 3.10.0-1062.1.1.el7.x86_64
44464 verbose argv "/usr/bin/node" "/usr/bin/npm" "install"
44465 verbose node v12.16.1
44466 verbose npm  v6.13.4
44467 error code ELIFECYCLE
44468 error errno 1
44469 error deepspeech@0.4.1 install: `

[2020-03-30 07:23] lapchun commented on #138
I also met this problem and I solved it successfully by modifying three files, **bridges/python/Pipfile** **bridges/python/Pipfile.lock** **scripts/check.js**.

- **bridges/python/Pipfile**: find "python_version", replace 3.6 with 3.7

- **bridges/python/Pipfile.lock**: find "python_version", replace 3.6 with 3.7

- **scripts/check.js**: find "pythonRequiredVersion", replace 3.6 with 3.7

I am on

[2020-03-31 16:20] JeanLoupCaillet commented on #138
Thanks for your answer I will test it :)

[2020-04-13 18:47] #159 closed

[2020-04-13 23:41] NateNoob commented on #152
i'm having the same problem.

Python 3.6.0
node v12.16.0
pipenv 2018.11.26
npm 6.13.4

[2020-04-13T23_27_32_505Z-debug.log](https://github.com/leon-ai/leon/files/4472371/2020-04-13T23_27_32_505Z-debug.log)

 I hope someone ll find the solution!

[2020-04-13 23:47] NateNoob commented on #147
i'm having exactly the same issue. I don't understand it.

I have pyenv-win to manage python versions maybe that causes the issue. Do you have it too?

[2020-04-17 22:01] FloksyYT opened #178 "[#bug] Error when running "npm run build""
When I run the command "npm run build", I got some errors.
I'm running Ubuntu 18.04.4 LTS inside VirtualBox.
Here is my terminal output :

virtualbox@VirtualBox-Ubuntu:~/Git/leon$ npm run build
\> leon@1.0.0-beta.2 build /home/virtualbox/Git/leon
\> npm run lint && npm run build:app && npm run build:server
\> leon@1.0.0-beta.2 lint /home/virtualbox/Git/leon
\> babel-node scripts/lint.js

➡ Linting

[2020-04-18 00:18] FloksyYT commented on #178
I've forgot to say that is make the command "npm start" fail too.
Here is the execution of this one :

virtualbox@VirtualBox-Ubuntu:~/Git/leon$ npm start
\> leon@1.0.0-beta.2 start /home/virtualbox/Git/leon
\> cross-env LEON_NODE_ENV=production node ./server/dist/index.js

internal/modules/cjs/loader.js:955
  throw err;
  ^

Error: Cannot find module '/home/virtualbox/Git/leon/server/dist/index.js

[2020-04-18 00:21] FloksyYT commented on #178
### Specs

- Leon version: **Copied from Git, 2 days ago**
- OS (or browser) version: **Ubuntu 18.04.4 LTS** & **Firefox 75.0**
- Node.js version: **13.13.0**
- Complete "npm run check" output: **Last green message : "✔ Hooray! Leon can run correctly"**

[2020-04-24 07:17] ThatDamGuy opened #179 "Missing python module"
- Leon version: 1.0.0
- OS (or browser) version: Debian 10
- Node.js version: 10.15.2
- Complete "npm run check" output:

⠋
---

.: CHECKING :.

➡ /bin/sh -c node --version
✔ v10.15.2

➡ /bin/sh -c npm --version
✔ 5.8.0

➡ /bin/sh -c pipenv --version
✔ pipenv, version 2018.11.26

➡ /bin/sh -c pipenv --where
✔ /home/leon/bridges/python

➡ /bin/sh -c pipenv run python --version
✔ Python 3.6.10

➡ /b

[2020-04-24 16:37] louistiti commented on #179
Hello @ThatDamGuy,

Thanks for opening this issue.

Please take a look at the following ones: https://github.com/leon-ai/leon/issues/7 and https://github.com/leon-ai/leon/issues/98.

[2020-04-24 20:26] machadorafa opened #180 "Leon prompting that python on pipenv is not version 3.6.x when running 'npm run check' but it is!"
### Specs

- Leon version: v1.0.0-beta.2
- OS (or browser) version: Ubuntu 19.10
- Node.js version: v10.15.2
- Complete "npm run check" output:

➜ npm run check
npm WARN npm npm does not support Node.js v10.15.2
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node

[2020-04-24 20:48] machadorafa commented on #180
I ran `npm run build` and `npm run start` and everything went correctly. The bug must be happening only on `npm run check` prompting wrongly.

[2020-04-25 16:06] deadwarrior61 opened #181 "npm cheack fail"
- Leon version: 1.0.0-beta.2
- OS (or browser) version:last debian
- Node.js version:10.15.2
- Complete "npm run check" output:
➡ /bin/sh -c node --version
✔ v10.15.2

➡ /bin/sh -c npm --version
✔ 5.8.0

➡ /bin/sh -c pipenv --version
✔ pipenv, version 11.9.0

✖ Error: Command failed: /bin/sh -c pipenv run python --version
Creating a virtualenv for this project…
Using /usr/bin/python3.7m (3.7.3) to

[2020-05-01 09:27] FSIPower commented on #178
Hi,
Had the same issue, tried a npm update and then run again npm install and npm run build.
It is now working well.

[2020-05-03 10:46] Bolobos opened #182 "npm WARN package.json@1.0.0 No repository field. and missing script: start"
Hello,
I'm new to programming and wanted to know why when I enter `npm install` I find `npm WARN package.json@1.0.0 No repository field.` when I checked that there is a repository in package.json that it is there.
Then when I `npm start`, I get the answer `npm ERR! missing script: start` when start is specified in package.json. It's the same error message when I enter `npm run check` -> I find  `n

[2020-05-03 11:43] TheFehr commented on #182
Are you sure you are executing those command in the correct directory? What os are you on? You can checj with `ls` (`dir` for windows) if you can actually see the package.json in the current directory.

[2020-05-03 13:27] Bolobos commented on #182
Thank you but I have find an answer to my question. I hadn't installed it properly.

[2020-05-03 13:40] Bolobos opened #183 "npm run check don't work"
I have this error message :
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! leon@1.0.0-beta.2 check: babel-node scripts/run-check.js
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the leon@1.0.0-beta.2 check script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\ca

[2020-05-04 14:18] louistiti commented on #125
Hello all,

Another quick update here for the ones who don't follow the emails I'm sending.

I'm still focusing on my other projects for the moment. Once I'll be done with them, I'll focus on Leon again, I've never thought about giving up our dear Leon. Please be a little bit more patient 😀

Just want to try some other adventures here and there first before to fully come back on track!

[2020-05-05 09:55] Bolobos commented on #183
I'm sure there are active people here. Please help me. If you don't find an answer to my question, say me where I have to put my question. Thanks.

[2020-05-05 18:36] Bolobos commented on #183
I have find the answer here https://github.com/leon-ai/leon/issues/161#issuecomment-588554522

[2020-05-05 18:36] #183 closed

[2020-05-06 15:47] hzllo1 opened #184 "npm ERR!"
### Question
when i do npm install this is what i get, what should i do?
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! leon@1.0.0-beta.3 preinstall: `node scripts/setup/preinstall.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the leon@1.0.0-beta.3 preinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete

[2020-05-06 20:45] Bolobos commented on #184
https://github.com/leon-ai/leon/issues/171#issuecomment-602085631
For me, it's work.

[2020-05-09 23:07] dasco69 commented on #173
hi,
you can testing this.
Open your terminal and write:
`$ python3 -m site --user-base`
He return:
`/home/NAME/.local/bin`
After write:
`$ (vi, vim, atom, OR vscode) ~/.bashrc`
Add this line at the end of file:
`export PATH=$PATH:/home/NAME/.local/bin`
Close your terminal and re open, ad testing Pipenv.
for it worked.
**For windows normaly:**
`python -m site --user-site`
`C:\Users\NAME\AppData\Roa

[2020-05-14 13:41] iobreaker opened #185 "Cannot find module server/dist/index.js"
Hi Team,

I have just deployed a fresh installation of lean using the hwoto

[code]
All build phase worked well (only a problem with pipenv and python3.6) i resolved.

After the build :

[code]

But when running **npm start** I have this error

[code]

### Specs

- Leon version: latest stable
- npm version : 6.14.4
- Node.js version: v10.19.0
- Complete "npm run check" output:

### Expected Behavi

[2020-05-14 17:52] iobreaker commented on #185
Ok i found the mistake

must run **npm run build** before

Thanks

[2020-05-14 17:52] #185 closed

[2020-05-18 14:35] g-w1 commented on #181
I am having the same problem
[code]

[2020-05-21 14:49] Marucss opened #186 "SOS Help me"
![leon](https://user-images.githubusercontent.com/39643902/82571237-31a9a580-9b72-11ea-93c3-1360ae2f9678.png)

And  here is the log
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@6.14.4
3 info using node@v10.20.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle leon@1.0.0-beta.3~prestart: leon@1.0.0-beta.3
6

[2020-05-25 21:06] yanickrochon opened #187 "Build error with npm install"
### Specs

- Leon version: 1.0.0-beta.2
- OS (or browser) version: Ubuntu Server 20.04
- Node.js version: v12.16.3
- Complete "npm run check" output:

[code]

### Expected Behavior

To install dependencies successfully

### Actual Behavior

Not installing dependencies successfully.

### How Do We Reproduce?

* Fresh install of Ubuntu Server 20.04
* Installing Node v12 through `nvm`
* Updating `npm

[2020-05-27 00:41] louistiti commented on #187
Hello @yanickrochon,

Thanks for opening this issue.

It seems Pipenv is not installed on your system, please follow the [instructions here](https://docs.getleon.ai/how-to/#how-to-install-pipenv) and let me know if that helps.

[2020-05-27 12:14] yanickrochon commented on #187
Installing `pipenv` with `venv`, gotta love Python.

However, now running `npm run check` returns other errors :

[code]

So, I really need to downgrade from Python 3.8 to Python 3.6? is Leon _that_ picky?

[2020-05-27 12:18] yanickrochon commented on #187
I was expecting a docker image to actually exist already, not to clone this repo, install all dependencies and build it myself. What's the point of having docker is it's an extra step?

[2020-05-27 14:56] louistiti commented on #187
It seems you are using the `master` branch.

Please try to pull Leon with the default branch (the `develop` one). I still did not merge the changes into `master`.

Let me know if that helps.

[2020-05-28 13:27] yanickrochon commented on #187
WIth the `develop` branch, the build seems to be successful, however everything I write yields an error with some module :

![image](https://user-images.githubusercontent.com/78461/83147292-7c24a800-a0c5-11ea-8315-220bfb765de4.png)

[2020-05-28 15:02] yanickrochon commented on #187
I was asked to put this on the side for the time being, so I'll close this since the error is issue is now irrelevant to this one.

[2020-05-28 15:02] #187 closed

[2020-06-27 19:53] tope951 opened #188 "Close Pls"
i have installed Pythons 3.8, Nodejs 14, Pipenv and Npm but i can't npm run check & npm install

![lvWXyDzmTN2srTRnnffLzQ](https://user-images.githubusercontent.com/51678715/85930910-77b7fe80-b8c0-11ea-922d-736b7b298ca9.png)

[2020-06-29 04:34] OoLunar commented on #188
Update your Python, that'll probably help

[2020-06-29 16:41] sagamji100 commented on #30
Interestig

[2020-06-29 18:51] tope951 commented on #188
i have pythons 3.8 this is the problemes ?

[2020-06-29 19:01] facorazza commented on #188
What do you think?

[2020-06-29 19:06] OoLunar commented on #188
Seeing as how the error says to downgrade your Python version, yea I'd think so.

[2020-06-29 19:09] facorazza commented on #188
I am hardly able to read the error

[2020-06-29 19:11] tope951 commented on #188
Pythons 3.6 is good ?

[2020-06-29 19:11] facorazza commented on #188
I think we can close this

[2020-06-30 02:07] louistiti commented on #188
Hello @tope951,

Please try to pull Leon from the `develop` branch and retry.

Let us know if that helps.

[2020-06-30 17:32] tope951 commented on #188
i have new error https://prnt.sc/t9at05

[2020-07-01 12:44] tope951 commented on #188
![Screenshot_1](https://user-images.githubusercontent.com/51678715/86245133-58172380-bba9-11ea-8b7e-893e58260768.png)

[2020-07-01 14:11] Paul-Michaud commented on #188
You need to install tinydb module for python :
[code]

[2020-07-01 14:14] tope951 commented on #188
![Screenshot_2](https://user-images.githubusercontent.com/51678715/86254304-e98c9280-bbb5-11ea-8e74-decaa7638cb3.png)
nop

[2020-07-02 15:06] tope951 commented on #188
??

[2020-07-02 15:58] facorazza commented on #188
Google is your friend

[2020-07-02 16:44] tope951 commented on #188
Wtf man

![Screenshot_1](https://user-images.githubusercontent.com/51678715/86387801-04cdcf80-bc94-11ea-8d76-f8224078de52.png)

[2020-07-02 16:49] HarshRangwala commented on #188
@tope951 Hey, let me know how did you solve this error?!!

[2020-07-02 16:50] tope951 commented on #188
I still haven't resolved them ....

[2020-07-03 04:02] OoLunar commented on #188
Have you checked if you have virtualenv installed?

[2020-07-04 12:15] Tetsujinfr commented on #186
can you rather copy the lines like those in your screenshot but make sure to include  a bit more lines, I suspect the first error appears earlier in the install process (please do not copy everything neither, just from a few lines before you spot the first red error message). That may help debug your issue. I do not find the log particularly useful (I have issues to install this too and the log gi

[2020-07-04 13:04] HarshRangwala commented on #188
Hey, By the way it worked for me. What I did was just downloaded Python 3.6 because it wasnt working with the 3.7+ versions. I hope this helps.
But for some reason the voice input/output does not seem to work. I gave all the permissions necessary but still it wont work. Anyone noticed that?

[2020-07-11 20:53] Spartanthor opened #189 "Ai assistant"
### Documentation Is:
- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Explanation

### Proposal

[2020-07-15 01:47] #189 closed

[2020-07-16 17:20] Spartanthor commented on #189
pls explain

[2020-07-19 15:10] Airypy opened #190 "error with the "Greeting" module of my "Leon" package!"
### Specs

- Leon version:
- OS (or browser) version:
- Node.js version:
- Complete "npm run check" output:
- (if using Docker) Complete "npm run docker:check" output:
- (optional) Leon package version:

### Expected Behavior

### Actual Behavior

### How Do We Reproduce?

### Extra (like a sample repo to reproduce the issue, etc.)

[2020-07-19 15:12] Airypy commented on #190
me:hey

Leon:Sorry, I have an issue with the "Greeting" module of my "Leon" package!

GLIMPSE OF MY CMD---

.: LEON :.

➡ Talking...

---

.: LEON :.

✖ Courtesy Notice: Pipenv found itself running within a virtual environment, so it will automatically use that environment, instead of creating its own for any project. You can set PIPENV_IGNORE_VIRTUALENVS=1 to force pipenv to ignore that environme